.pda16x16{display:inline-block;width:16px;height:16px;background:url('asset.cbca05d1ecd1811d7fcf85c0d257dfe8.png') no-repeat;}
.pda16x16.atmos{background-position:-0px -0px;}
.pda16x16.back{background-position:-16px -0px;}
.pda16x16.bell{background-position:-32px -0px;}
.pda16x16.blank{background-position:-48px -0px;}
.pda16x16.boom{background-position:-64px -0px;}
.pda16x16.bucket{background-position:-80px -0px;}
.pda16x16.medbot{background-position:-0px -16px;}
.pda16x16.floorbot{background-position:-16px -16px;}
.pda16x16.cleanbot{background-position:-32px -16px;}
.pda16x16.crate{background-position:-48px -16px;}
.pda16x16.cuffs{background-position:-64px -16px;}
.pda16x16.eject{background-position:-80px -16px;}
.pda16x16.flashlight{background-position:-0px -32px;}
.pda16x16.honk{background-position:-16px -32px;}
.pda16x16.mail{background-position:-32px -32px;}
.pda16x16.medical{background-position:-48px -32px;}
.pda16x16.menu{background-position:-64px -32px;}
.pda16x16.mule{background-position:-80px -32px;}
.pda16x16.notes{background-position:-0px -48px;}
.pda16x16.power{background-position:-16px -48px;}
.pda16x16.rdoor{background-position:-32px -48px;}
.pda16x16.reagent{background-position:-48px -48px;}
.pda16x16.refresh{background-position:-64px -48px;}
.pda16x16.scanner{background-position:-80px -48px;}
.pda16x16.signaler{background-position:-0px -64px;}
.pda16x16.skills{background-position:-16px -64px;}
.pda16x16.status{background-position:-32px -64px;}
.pda16x16.dronephone{background-position:-48px -64px;}
.pda16x16.emoji{background-position:-64px -64px;}
.pda16x16.droneblacklist{background-position:-80px -64px;}