.supplypods64x64{display:inline-block;width:64px;height:64px;background:url('asset.89b22b289155f029b0ed80422e9d292b.png') no-repeat;}
.supplypods64x64.pod_asset1{background-position:-0px -0px;}
.supplypods64x64.pod_asset2{background-position:-64px -0px;}
.supplypods64x64.pod_asset3{background-position:-128px -0px;}
.supplypods64x64.pod_asset4{background-position:-192px -0px;}
.supplypods64x64.pod_asset5{background-position:-0px -64px;}
.supplypods64x64.pod_asset6{background-position:-64px -64px;}
.supplypods64x64.pod_asset7{background-position:-128px -64px;}
.supplypods64x64.pod_asset8{background-position:-192px -64px;}
.supplypods64x64.pod_asset9{background-position:-0px -128px;}
.supplypods64x64.pod_asset10{background-position:-64px -128px;}
.supplypods64x64.pod_asset11{background-position:-128px -128px;}
.supplypods64x64.pod_asset12{background-position:-192px -128px;}
.supplypods64x64.pod_asset13{background-position:-0px -192px;}
.supplypods64x64.pod_asset14{background-position:-64px -192px;}
.supplypods64x64.pod_asset15{background-position:-128px -192px;}
.supplypods64x64.pod_asset16{background-position:-192px -192px;}