.botanical_lexicon96x96{display:inline-block;width:96px;height:96px;background:url('asset.dea603586ca33917e4acaaddbcc4967c.png') no-repeat;}
.botanical_lexicon96x96.monkestationiconsobjhydroponicsfruitdmicoconutseed{background-position:-0px -0px;}
.botanical_lexicon96x96.iconsobjhydroponicsseedsdmiseedicepepper{background-position:-96px -0px;}
.botanical_lexicon96x96.iconsobjhydroponicsseedsdmiseedeggy{background-position:-192px -0px;}
.botanical_lexicon96x96.monkestationiconsobjhydroponicsfruitdmicoconutgunseed{background-position:-288px -0px;}
.botanical_lexicon96x96.iconsobjhydroponicsseedsdmiseedblackcannabis{background-position:-384px -0px;}
.botanical_lexicon96x96.iconsobjhydroponicsseedsdmiseedwhitecannabis{background-position:-480px -0px;}
.botanical_lexicon96x96.iconsobjhydroponicsseedsdmiseedocannabis{background-position:-576px -0px;}
.botanical_lexicon96x96.iconsobjhydroponicsseedsdmiseedmegacannabis{background-position:-672px -0px;}
.botanical_lexicon96x96.iconsobjhydroponicsseedsdmiseedambrosiadeus{background-position:-768px -0px;}
.botanical_lexicon96x96.iconsobjhydroponicsseedsdmiseedambrosiagaia{background-position:-0px -96px;}
.botanical_lexicon96x96.iconsobjhydroponicsseedsdmiseedgoldapple{background-position:-96px -96px;}
.botanical_lexicon96x96.iconsobjhydroponicsseedsdmiseedmimana{background-position:-192px -96px;}
.botanical_lexicon96x96.iconsobjhydroponicsseedsdmiseedbananablue{background-position:-288px -96px;}
.botanical_lexicon96x96.iconsobjhydroponicsseedsdmiseedkoibean{background-position:-384px -96px;}
.botanical_lexicon96x96.iconsobjhydroponicsseedsdmiseedglowberry{background-position:-480px -96px;}
.botanical_lexicon96x96.iconsobjhydroponicsseedsdmiseedpoisonberry{background-position:-576px -96px;}
.botanical_lexicon96x96.iconsobjhydroponicsseedsdmiseeddeathberry{background-position:-672px -96px;}
.botanical_lexicon96x96.iconsobjhydroponicsseedsdmiseedbluecherry{background-position:-768px -96px;}
.botanical_lexicon96x96.iconsobjhydroponicsseedsdmiseedcherrybulb{background-position:-0px -192px;}
.botanical_lexicon96x96.iconsobjhydroponicsseedsdmiseedgreengrapes{background-position:-96px -192px;}
.botanical_lexicon96x96.iconsobjhydroponicsseedsdmiseedoat{background-position:-192px -192px;}
.botanical_lexicon96x96.iconsobjhydroponicsseedsdmiseedmeatwheat{background-position:-288px -192px;}
.botanical_lexicon96x96.iconsobjhydroponicsseedsdmiseedchilighost{background-position:-384px -192px;}
.botanical_lexicon96x96.iconsobjhydroponicsseedsdmiseedorange{background-position:-480px -192px;}
.botanical_lexicon96x96.iconsobjhydroponicsseedsdmiseedlime{background-position:-576px -192px;}
.botanical_lexicon96x96.iconsobjhydroponicsseedsdmiseedfirelemon{background-position:-672px -192px;}
.botanical_lexicon96x96.iconsobjhydroponicsseedsdmiseedvanillapod{background-position:-768px -192px;}
.botanical_lexicon96x96.iconsobjhydroponicsseedsdmiseedbungotree{background-position:-0px -288px;}
.botanical_lexicon96x96.iconsobjhydroponicsseedsdmiseedsnapcorn{background-position:-96px -288px;}
.botanical_lexicon96x96.iconsobjhydroponicsseedsdmiseeddurathread{background-position:-192px -288px;}
.botanical_lexicon96x96.iconsobjhydroponicsseedsdmiseedlily{background-position:-288px -288px;}
.botanical_lexicon96x96.iconsobjhydroponicsseedsdmiseedgeranium{background-position:-384px -288px;}
.botanical_lexicon96x96.iconsobjhydroponicsseedsdmiseedfraxinella{background-position:-480px -288px;}
.botanical_lexicon96x96.iconsobjhydroponicsseedsdmiseedtrumpet{background-position:-576px -288px;}
.botanical_lexicon96x96.iconsobjhydroponicsseedsdmiseedmoonflower{background-position:-672px -288px;}
.botanical_lexicon96x96.iconsobjhydroponicsseedsdmiseednovaflower{background-position:-768px -288px;}
.botanical_lexicon96x96.iconsobjhydroponicsseedsdmiseedcarpet{background-position:-0px -384px;}
.botanical_lexicon96x96.iconsobjhydroponicsseedsdmiseedfairygrass{background-position:-96px -384px;}
.botanical_lexicon96x96.iconsobjhydroponicsseedsdmiseedsweetkorta{background-position:-192px -384px;}
.botanical_lexicon96x96.iconsobjhydroponicsseedsdmiseedholymelon{background-position:-288px -384px;}
.botanical_lexicon96x96.iconsobjhydroponicsseedsdmiseedgalaxythistle{background-position:-384px -384px;}
.botanical_lexicon96x96.iconsobjhydroponicsseedsdmiseedcorpseflower{background-position:-480px -384px;}
.botanical_lexicon96x96.iconsobjhydroponicsseedsdmiseedreplicapod{background-position:-576px -384px;}
.botanical_lexicon96x96.iconsobjhydroponicsseedsdmiseedbamboo{background-position:-672px -384px;}
.botanical_lexicon96x96.iconsobjhydroponicsseedsdmimyceliumangel{background-position:-768px -384px;}
.botanical_lexicon96x96.iconsobjhydroponicsseedsdmimyceliumwalkingmushroom{background-position:-0px -480px;}
.botanical_lexicon96x96.iconsobjhydroponicsseedsdmimyceliumjupitercup{background-position:-96px -480px;}
.botanical_lexicon96x96.iconsobjhydroponicsseedsdmimyceliumglowcap{background-position:-192px -480px;}
.botanical_lexicon96x96.iconsobjhydroponicsseedsdmimyceliumshadowshroom{background-position:-288px -480px;}
.botanical_lexicon96x96.iconsobjhydroponicsseedsdmiseeddeathnettle{background-position:-384px -480px;}
.botanical_lexicon96x96.iconsobjhydroponicsseedsdmiseedonionred{background-position:-480px -480px;}
.botanical_lexicon96x96.iconsobjhydroponicsseedsdmiseedsweetpotato{background-position:-576px -480px;}
.botanical_lexicon96x96.iconsobjhydroponicsseedsdmiseedblumpkin{background-position:-672px -480px;}
.botanical_lexicon96x96.iconsobjhydroponicsseedsdmiseedparsnip{background-position:-768px -480px;}
.botanical_lexicon96x96.iconsobjhydroponicsseedsdmiseedredbeet{background-position:-0px -576px;}
.botanical_lexicon96x96.iconsobjhydroponicsseedsdmiseedteaastra{background-position:-96px -576px;}
.botanical_lexicon96x96.iconsobjhydroponicsseedsdmiseedcoffeer{background-position:-192px -576px;}
.botanical_lexicon96x96.iconsobjhydroponicsseedsdmiseedstobacco{background-position:-288px -576px;}
.botanical_lexicon96x96.iconsobjhydroponicsseedsdmiseedbluetomato{background-position:-384px -576px;}
.botanical_lexicon96x96.iconsobjhydroponicsseedsdmiseedbloodtomato{background-position:-480px -576px;}
.botanical_lexicon96x96.iconsobjhydroponicsseedsdmiseedkillertomato{background-position:-576px -576px;}
.botanical_lexicon96x96.iconsobjhydroponicsseedsdmiseedbluespacetomato{background-position:-672px -576px;}
.botanical_lexicon96x96.iconsobjhydroponicsseedsdmimyceliumsteelcap{background-position:-768px -576px;}
.botanical_lexicon96x96.iconsobjhydroponicsseedsdmiseedjumpingbean{background-position:-0px -672px;}
.botanical_lexicon96x96.iconsobjhydroponicsseedsdmiseedbarrelmelon{background-position:-96px -672px;}
.botanical_lexicon96x96.iconsobjhydroponicsseedsdmiseedcarbonrose{background-position:-192px -672px;}
.botanical_lexicon96x96.iconsobjhydroponicsseedsdmiseedlaughpeas{background-position:-288px -672px;}
.botanical_lexicon96x96.iconsobjhydroponicsseedsdmiseedworldpeas{background-position:-384px -672px;}
.botanical_lexicon96x96.iconsobjhydroponicsseedsdmiseedplumb{background-position:-480px -672px;}
.botanical_lexicon96x96.iconsobjhydroponicsseedsdmiseedstarcactus{background-position:-576px -672px;}
.botanical_lexicon96x96.iconsobjhydroponicsseedsdmiseedkudzu{background-position:-672px -672px;}
.botanical_lexicon96x96.monkestationiconsobjhydroponicsfruitdmihoneydewseed{background-position:-768px -672px;}