.fish32x32{display:inline-block;width:32px;height:32px;background:url('asset.f484055fd3c89a78081e1c6be4cebd07.png') no-repeat;}
.fish64x32{display:inline-block;width:64px;height:32px;background:url('asset.1f0020f03204fff7ac96313f7c30e27e.png') no-repeat;}
.fish32x32.iconsobjaquariumdmigoldfish{background-position:-0px -0px;}
.fish32x32.iconsobjaquariumdmiangelfish{background-position:-32px -0px;}
.fish32x32.iconsobjaquariumdmiguppy{background-position:-64px -0px;}
.fish32x32.iconsobjaquariumdmiplastetra{background-position:-96px -0px;}
.fish32x32.iconsobjaquariumdmicatfish{background-position:-128px -0px;}
.fish32x32.iconsobjaquariumdmiclownfish{background-position:-160px -0px;}
.fish32x32.iconsobjaquariumdmilubefish{background-position:-0px -32px;}
.fish32x32.iconsobjaquariumdmicardinalfish{background-position:-32px -32px;}
.fish32x32.iconsobjaquariumdmigreenchromis{background-position:-64px -32px;}
.fish32x32.iconsobjaquariumdmifirefish{background-position:-96px -32px;}
.fish32x32.iconsobjaquariumdmipufferfish{background-position:-128px -32px;}
.fish32x32.iconsobjaquariumdmilanternfish{background-position:-160px -32px;}
.fish32x32.iconsobjaquariumdmidwarfmoonfish{background-position:-0px -64px;}
.fish32x32.iconsobjaquariumdmigunnerjellyfish{background-position:-32px -64px;}
.fish32x32.iconsobjaquariumdmineedlefish{background-position:-64px -64px;}
.fish32x32.iconsobjaquariumdmiarmorfish{background-position:-96px -64px;}
.fish32x32.iconsobjaquariumdmichrab{background-position:-128px -64px;}
.fish32x32.iconsobjaquariumdmiarcticchrab{background-position:-160px -64px;}
.fish32x32.iconsobjaquariumdmidonkfish{background-position:-0px -96px;}
.fish32x32.iconsobjaquariumdmiemulsijack{background-position:-32px -96px;}
.fish32x32.iconsobjaquariumdmiratfish{background-position:-64px -96px;}
.fish32x32.iconsobjaquariumdmisludgefish{background-position:-96px -96px;}
.fish32x32.iconsobjaquariumdmisludgefishpurple{background-position:-128px -96px;}
.fish32x32.iconsobjaquariumdmislimefish{background-position:-160px -96px;}
.fish32x32.iconsobjaquariumdmibonemass{background-position:-0px -128px;}
.fish64x32.iconsobjaquariumwidedmimastodon{background-position:-0px -0px;}
.fish32x32.iconsobjaquariumdmicrab{background-position:-32px -128px;}
.fish32x32.iconsobjaquariumdmiholoclownfish{background-position:-64px -128px;}
.fish32x32.iconsobjaquariumdmicheckered{background-position:-96px -128px;}
.fish32x32.iconsobjaquariumdmihalffish{background-position:-128px -128px;}
.fish32x32.iconsobjaquariumdmistarfish{background-position:-160px -128px;}