.xenobio_market32x32{display:inline-block;width:32px;height:32px;background:url('asset.44703f5d22f9fd7ed592d58f228e5bee.png') no-repeat;}
.xenobio_market32x32.cat_ears{background-position:-0px -0px;}
.xenobio_market32x32.blue_slime_extract{background-position:-32px -0px;}
.xenobio_market32x32.blue adult slime{background-position:-64px -0px;}
.xenobio_market32x32.blue adult slime eat{background-position:-96px -0px;}
.xenobio_market32x32.blue baby slime{background-position:-128px -0px;}
.xenobio_market32x32.blue baby slime eat{background-position:-160px -0px;}
.xenobio_market32x32.blue baby slime dead{background-position:-192px -0px;}
.xenobio_market32x32.blue baby slime dead-nocore{background-position:-224px -0px;}
.xenobio_market32x32.aslime-happy{background-position:-256px -0px;}
.xenobio_market32x32.aslime-scared{background-position:-288px -0px;}
.xenobio_market32x32.aslime-pout{background-position:-320px -0px;}
.xenobio_market32x32.aslime-sad{background-position:-352px -0px;}
.xenobio_market32x32.aslime-angry{background-position:-384px -0px;}
.xenobio_market32x32.aslime-mischevous{background-position:-416px -0px;}
.xenobio_market32x32.aslime-:3{background-position:-448px -0px;}
.xenobio_market32x32.aslime-:33{background-position:-480px -0px;}
.xenobio_market32x32.dark_blue_slime_extract{background-position:-512px -0px;}
.xenobio_market32x32.dark blue adult slime{background-position:-0px -32px;}
.xenobio_market32x32.dark blue adult slime eat{background-position:-32px -32px;}
.xenobio_market32x32.dark blue baby slime{background-position:-64px -32px;}
.xenobio_market32x32.dark blue baby slime eat{background-position:-96px -32px;}
.xenobio_market32x32.dark blue baby slime dead{background-position:-128px -32px;}
.xenobio_market32x32.dark blue baby slime dead-nocore{background-position:-160px -32px;}
.xenobio_market32x32.green_slime_extract{background-position:-192px -32px;}
.xenobio_market32x32.green adult slime{background-position:-224px -32px;}
.xenobio_market32x32.green adult slime eat{background-position:-256px -32px;}
.xenobio_market32x32.green baby slime{background-position:-288px -32px;}
.xenobio_market32x32.green baby slime eat{background-position:-320px -32px;}
.xenobio_market32x32.green baby slime dead{background-position:-352px -32px;}
.xenobio_market32x32.green baby slime dead-nocore{background-position:-384px -32px;}
.xenobio_market32x32.grey_slime_extract{background-position:-416px -32px;}
.xenobio_market32x32.grey adult slime{background-position:-448px -32px;}
.xenobio_market32x32.grey adult slime eat{background-position:-480px -32px;}
.xenobio_market32x32.grey baby slime{background-position:-512px -32px;}
.xenobio_market32x32.grey baby slime eat{background-position:-0px -64px;}
.xenobio_market32x32.grey baby slime dead{background-position:-32px -64px;}
.xenobio_market32x32.grey baby slime dead-nocore{background-position:-64px -64px;}
.xenobio_market32x32.purple_slime_extract{background-position:-96px -64px;}
.xenobio_market32x32.purple adult slime{background-position:-128px -64px;}
.xenobio_market32x32.purple adult slime eat{background-position:-160px -64px;}
.xenobio_market32x32.purple baby slime{background-position:-192px -64px;}
.xenobio_market32x32.purple baby slime eat{background-position:-224px -64px;}
.xenobio_market32x32.purple baby slime dead{background-position:-256px -64px;}
.xenobio_market32x32.purple baby slime dead-nocore{background-position:-288px -64px;}
.xenobio_market32x32.orange_slime_extract{background-position:-320px -64px;}
.xenobio_market32x32.orange adult slime{background-position:-352px -64px;}
.xenobio_market32x32.orange adult slime eat{background-position:-384px -64px;}
.xenobio_market32x32.orange baby slime{background-position:-416px -64px;}
.xenobio_market32x32.orange baby slime eat{background-position:-448px -64px;}
.xenobio_market32x32.orange baby slime dead{background-position:-480px -64px;}
.xenobio_market32x32.orange baby slime dead-nocore{background-position:-512px -64px;}
.xenobio_market32x32.pink_slime_extract{background-position:-0px -96px;}
.xenobio_market32x32.pink adult slime{background-position:-32px -96px;}
.xenobio_market32x32.pink adult slime eat{background-position:-64px -96px;}
.xenobio_market32x32.pink baby slime{background-position:-96px -96px;}
.xenobio_market32x32.pink baby slime eat{background-position:-128px -96px;}
.xenobio_market32x32.pink baby slime dead{background-position:-160px -96px;}
.xenobio_market32x32.pink baby slime dead-nocore{background-position:-192px -96px;}
.xenobio_market32x32.dark_purple_slime_extract{background-position:-224px -96px;}
.xenobio_market32x32.dark purple adult slime{background-position:-256px -96px;}
.xenobio_market32x32.dark purple adult slime eat{background-position:-288px -96px;}
.xenobio_market32x32.dark purple baby slime{background-position:-320px -96px;}
.xenobio_market32x32.dark purple baby slime eat{background-position:-352px -96px;}
.xenobio_market32x32.dark purple baby slime dead{background-position:-384px -96px;}
.xenobio_market32x32.dark purple baby slime dead-nocore{background-position:-416px -96px;}
.xenobio_market32x32.red_slime_extract{background-position:-448px -96px;}
.xenobio_market32x32.red adult slime{background-position:-480px -96px;}
.xenobio_market32x32.red adult slime eat{background-position:-512px -96px;}
.xenobio_market32x32.red baby slime{background-position:-0px -128px;}
.xenobio_market32x32.red baby slime eat{background-position:-32px -128px;}
.xenobio_market32x32.red baby slime dead{background-position:-64px -128px;}
.xenobio_market32x32.red baby slime dead-nocore{background-position:-96px -128px;}
.xenobio_market32x32.yellow_slime_extract{background-position:-128px -128px;}
.xenobio_market32x32.yellow adult slime{background-position:-160px -128px;}
.xenobio_market32x32.yellow adult slime eat{background-position:-192px -128px;}
.xenobio_market32x32.yellow baby slime{background-position:-224px -128px;}
.xenobio_market32x32.yellow baby slime eat{background-position:-256px -128px;}
.xenobio_market32x32.yellow baby slime dead{background-position:-288px -128px;}
.xenobio_market32x32.yellow baby slime dead-nocore{background-position:-320px -128px;}
.xenobio_market32x32.gold_slime_extract{background-position:-352px -128px;}
.xenobio_market32x32.gold adult slime{background-position:-384px -128px;}
.xenobio_market32x32.gold adult slime eat{background-position:-416px -128px;}
.xenobio_market32x32.gold baby slime{background-position:-448px -128px;}
.xenobio_market32x32.gold baby slime eat{background-position:-480px -128px;}
.xenobio_market32x32.gold baby slime dead{background-position:-512px -128px;}
.xenobio_market32x32.gold baby slime dead-nocore{background-position:-0px -160px;}
.xenobio_market32x32.metal_slime_extract{background-position:-32px -160px;}
.xenobio_market32x32.metal adult slime{background-position:-64px -160px;}
.xenobio_market32x32.metal adult slime eat{background-position:-96px -160px;}
.xenobio_market32x32.metal baby slime{background-position:-128px -160px;}
.xenobio_market32x32.metal baby slime eat{background-position:-160px -160px;}
.xenobio_market32x32.metal baby slime dead{background-position:-192px -160px;}
.xenobio_market32x32.metal baby slime dead-nocore{background-position:-224px -160px;}
.xenobio_market32x32.silver_slime_extract{background-position:-256px -160px;}
.xenobio_market32x32.silver adult slime{background-position:-288px -160px;}
.xenobio_market32x32.silver adult slime eat{background-position:-320px -160px;}
.xenobio_market32x32.silver baby slime{background-position:-352px -160px;}
.xenobio_market32x32.silver baby slime eat{background-position:-384px -160px;}
.xenobio_market32x32.silver baby slime dead{background-position:-416px -160px;}
.xenobio_market32x32.silver baby slime dead-nocore{background-position:-448px -160px;}
.xenobio_market32x32.light_pink_slime_extract{background-position:-480px -160px;}
.xenobio_market32x32.light pink adult slime{background-position:-512px -160px;}
.xenobio_market32x32.light pink adult slime eat{background-position:-0px -192px;}
.xenobio_market32x32.light pink baby slime{background-position:-32px -192px;}
.xenobio_market32x32.light pink baby slime eat{background-position:-64px -192px;}
.xenobio_market32x32.light pink baby slime dead{background-position:-96px -192px;}
.xenobio_market32x32.light pink baby slime dead-nocore{background-position:-128px -192px;}
.xenobio_market32x32.black_slime_extract{background-position:-160px -192px;}
.xenobio_market32x32.black adult slime{background-position:-192px -192px;}
.xenobio_market32x32.black adult slime eat{background-position:-224px -192px;}
.xenobio_market32x32.black baby slime{background-position:-256px -192px;}
.xenobio_market32x32.black baby slime eat{background-position:-288px -192px;}
.xenobio_market32x32.black baby slime dead{background-position:-320px -192px;}
.xenobio_market32x32.black baby slime dead-nocore{background-position:-352px -192px;}
.xenobio_market32x32.rainbow_slime_extract{background-position:-384px -192px;}
.xenobio_market32x32.rainbow adult slime{background-position:-416px -192px;}
.xenobio_market32x32.rainbow adult slime eat{background-position:-448px -192px;}
.xenobio_market32x32.rainbow baby slime{background-position:-480px -192px;}
.xenobio_market32x32.rainbow baby slime eat{background-position:-512px -192px;}
.xenobio_market32x32.rainbow baby slime dead{background-position:-0px -224px;}
.xenobio_market32x32.rainbow baby slime dead-nocore{background-position:-32px -224px;}
.xenobio_market32x32.adamantine_slime_extract{background-position:-64px -224px;}
.xenobio_market32x32.adamantine adult slime{background-position:-96px -224px;}
.xenobio_market32x32.adamantine adult slime eat{background-position:-128px -224px;}
.xenobio_market32x32.adamantine baby slime{background-position:-160px -224px;}
.xenobio_market32x32.adamantine baby slime eat{background-position:-192px -224px;}
.xenobio_market32x32.adamantine baby slime dead{background-position:-224px -224px;}
.xenobio_market32x32.adamantine baby slime dead-nocore{background-position:-256px -224px;}
.xenobio_market32x32.oil_slime_extract{background-position:-288px -224px;}
.xenobio_market32x32.oil adult slime{background-position:-320px -224px;}
.xenobio_market32x32.oil adult slime eat{background-position:-352px -224px;}
.xenobio_market32x32.oil baby slime{background-position:-384px -224px;}
.xenobio_market32x32.oil baby slime eat{background-position:-416px -224px;}
.xenobio_market32x32.oil baby slime dead{background-position:-448px -224px;}
.xenobio_market32x32.oil baby slime dead-nocore{background-position:-480px -224px;}
.xenobio_market32x32.bluespace_slime_extract{background-position:-512px -224px;}
.xenobio_market32x32.bluespace adult slime{background-position:-0px -256px;}
.xenobio_market32x32.bluespace adult slime eat{background-position:-32px -256px;}
.xenobio_market32x32.bluespace baby slime{background-position:-64px -256px;}
.xenobio_market32x32.bluespace baby slime eat{background-position:-96px -256px;}
.xenobio_market32x32.bluespace baby slime dead{background-position:-128px -256px;}
.xenobio_market32x32.bluespace baby slime dead-nocore{background-position:-160px -256px;}
.xenobio_market32x32.platinum_slime_extract{background-position:-192px -256px;}
.xenobio_market32x32.pyrite_slime_extract{background-position:-224px -256px;}
.xenobio_market32x32.pyrite adult slime{background-position:-256px -256px;}
.xenobio_market32x32.pyrite adult slime eat{background-position:-288px -256px;}
.xenobio_market32x32.pyrite baby slime{background-position:-320px -256px;}
.xenobio_market32x32.pyrite baby slime eat{background-position:-352px -256px;}
.xenobio_market32x32.pyrite baby slime dead{background-position:-384px -256px;}
.xenobio_market32x32.pyrite baby slime dead-nocore{background-position:-416px -256px;}
.xenobio_market32x32.sepia_slime_extract{background-position:-448px -256px;}
.xenobio_market32x32.sepia adult slime{background-position:-480px -256px;}
.xenobio_market32x32.sepia adult slime eat{background-position:-512px -256px;}
.xenobio_market32x32.sepia baby slime{background-position:-0px -288px;}
.xenobio_market32x32.sepia baby slime eat{background-position:-32px -288px;}
.xenobio_market32x32.sepia baby slime dead{background-position:-64px -288px;}
.xenobio_market32x32.sepia baby slime dead-nocore{background-position:-96px -288px;}
.xenobio_market32x32.cerulean_slime_extract{background-position:-128px -288px;}
.xenobio_market32x32.cerulean adult slime{background-position:-160px -288px;}
.xenobio_market32x32.cerulean adult slime eat{background-position:-192px -288px;}
.xenobio_market32x32.cerulean baby slime{background-position:-224px -288px;}
.xenobio_market32x32.cerulean baby slime eat{background-position:-256px -288px;}
.xenobio_market32x32.cerulean baby slime dead{background-position:-288px -288px;}
.xenobio_market32x32.cerulean baby slime dead-nocore{background-position:-320px -288px;}
.xenobio_market32x32.witch_hat-adult{background-position:-352px -288px;}
.xenobio_market32x32.witch_hat-baby{background-position:-384px -288px;}
.xenobio_market32x32.witch_hat{background-position:-416px -288px;}
.xenobio_market32x32.pirate_hat-adult{background-position:-448px -288px;}
.xenobio_market32x32.pirate_hat-baby{background-position:-480px -288px;}
.xenobio_market32x32.pirate_hat{background-position:-512px -288px;}
.xenobio_market32x32.ash adult slime{background-position:-0px -320px;}
.xenobio_market32x32.ash adult slime eat{background-position:-32px -320px;}
.xenobio_market32x32.ash baby slime{background-position:-64px -320px;}
.xenobio_market32x32.ash baby slime eat{background-position:-96px -320px;}
.xenobio_market32x32.ash baby slime dead{background-position:-128px -320px;}
.xenobio_market32x32.kirby adult slime{background-position:-160px -320px;}
.xenobio_market32x32.kirby adult slime eat{background-position:-192px -320px;}
.xenobio_market32x32.kirby baby slime{background-position:-224px -320px;}
.xenobio_market32x32.kirby baby slime eat{background-position:-256px -320px;}
.xenobio_market32x32.kirby baby slime dead{background-position:-288px -320px;}
.xenobio_market32x32.mutation_syringe{background-position:-320px -320px;}
.xenobio_market32x32.mutation_syringe-empty{background-position:-352px -320px;}
.xenobio_market32x32.std_mod{background-position:-384px -320px;}
.xenobio_market32x32.blank_mod{background-position:-416px -320px;}
.xenobio_market32x32.card_mod{background-position:-448px -320px;}
.xenobio_market32x32.power_mod{background-position:-480px -320px;}
.xenobio_market32x32.id_mod{background-position:-512px -320px;}
.xenobio_market32x32.abductor_mod{background-position:-0px -352px;}
.xenobio_market32x32.clock_mod{background-position:-32px -352px;}
.xenobio_market32x32.mainboard{background-position:-64px -352px;}
.xenobio_market32x32.mcontroller{background-position:-96px -352px;}
.xenobio_market32x32.cyborg_upgrade{background-position:-128px -352px;}
.xenobio_market32x32.cyborg_upgrade1{background-position:-160px -352px;}
.xenobio_market32x32.cyborg_upgrade2{background-position:-192px -352px;}
.xenobio_market32x32.cyborg_upgrade3{background-position:-224px -352px;}
.xenobio_market32x32.cyborg_upgrade4{background-position:-256px -352px;}
.xenobio_market32x32.secmodschematic{background-position:-288px -352px;}
.xenobio_market32x32.airalarm_electronics{background-position:-320px -352px;}
.xenobio_market32x32.door_electronics{background-position:-352px -352px;}
.xenobio_market32x32.cyborg_upgrade5{background-position:-384px -352px;}
.xenobio_market32x32.selfrepair_off{background-position:-416px -352px;}
.xenobio_market32x32.selfrepair_on{background-position:-448px -352px;}
.xenobio_market32x32.card_mini{background-position:-480px -352px;}
.xenobio_market32x32.cpu{background-position:-512px -352px;}
.xenobio_market32x32.cpu_adv{background-position:-0px -384px;}
.xenobio_market32x32.cpu_super{background-position:-32px -384px;}
.xenobio_market32x32.cpuboard{background-position:-64px -384px;}
.xenobio_market32x32.cpuboard_adv{background-position:-96px -384px;}
.xenobio_market32x32.cpuboard_super{background-position:-128px -384px;}
.xenobio_market32x32.ram{background-position:-160px -384px;}
.xenobio_market32x32.net_wired{background-position:-192px -384px;}
.xenobio_market32x32.radio{background-position:-224px -384px;}
.xenobio_market32x32.radio_mini{background-position:-256px -384px;}
.xenobio_market32x32.radio_micro{background-position:-288px -384px;}
.xenobio_market32x32.harddisk{background-position:-320px -384px;}
.xenobio_market32x32.harddisk_mini{background-position:-352px -384px;}
.xenobio_market32x32.harddisk_micro{background-position:-384px -384px;}
.xenobio_market32x32.cell_con{background-position:-416px -384px;}
.xenobio_market32x32.cell_con_micro{background-position:-448px -384px;}
.xenobio_market32x32.cell{background-position:-480px -384px;}
.xenobio_market32x32.cell_mini{background-position:-512px -384px;}
.xenobio_market32x32.cell_micro{background-position:-0px -416px;}
.xenobio_market32x32.charger_pda{background-position:-32px -416px;}
.xenobio_market32x32.charger_lambda{background-position:-64px -416px;}
.xenobio_market32x32.charger_APC{background-position:-96px -416px;}
.xenobio_market32x32.charger_wire{background-position:-128px -416px;}
.xenobio_market32x32.ssd_large{background-position:-160px -416px;}
.xenobio_market32x32.ssd{background-position:-192px -416px;}
.xenobio_market32x32.ssd_mini{background-position:-224px -416px;}
.xenobio_market32x32.ssd_micro{background-position:-256px -416px;}
.xenobio_market32x32.cddrive{background-position:-288px -416px;}
.xenobio_market32x32.flopdrive{background-position:-320px -416px;}
.xenobio_market32x32.printer{background-position:-352px -416px;}
.xenobio_market32x32.printer_mini{background-position:-384px -416px;}
.xenobio_market32x32.signal_card{background-position:-416px -416px;}
.xenobio_market32x32.cart_connector{background-position:-448px -416px;}
.xenobio_market32x32.bluespacearray{background-position:-480px -416px;}
.xenobio_market32x32.prizevendor{background-position:-512px -416px;}
.xenobio_market32x32.depositbox{background-position:-0px -448px;}
.xenobio_market32x32.beaker_holder{background-position:-32px -448px;}
.xenobio_market32x32.servo{background-position:-64px -448px;}
.xenobio_market32x32.nucleardisk{background-position:-96px -448px;}
.xenobio_market32x32.datadisk0{background-position:-128px -448px;}
.xenobio_market32x32.datadisk1{background-position:-160px -448px;}
.xenobio_market32x32.datadisk2{background-position:-192px -448px;}
.xenobio_market32x32.datadisk3{background-position:-224px -448px;}
.xenobio_market32x32.datadisk4{background-position:-256px -448px;}
.xenobio_market32x32.datadisk5{background-position:-288px -448px;}
.xenobio_market32x32.datadisk6{background-position:-320px -448px;}
.xenobio_market32x32.datadisk7{background-position:-352px -448px;}
.xenobio_market32x32.datadisk8{background-position:-384px -448px;}
.xenobio_market32x32.datadisk9{background-position:-416px -448px;}
.xenobio_market32x32.datadisk10{background-position:-448px -448px;}
.xenobio_market32x32.datadisk_gene{background-position:-480px -448px;}
.xenobio_market32x32.ash_plating{background-position:-512px -448px;}
.xenobio_market32x32.datadisk_hydro{background-position:-0px -480px;}
.xenobio_market32x32.boris{background-position:-32px -480px;}
.xenobio_market32x32.boris_recharging{background-position:-64px -480px;}
.xenobio_market32x32.holodisk{background-position:-96px -480px;}
.xenobio_market32x32.cargodisk{background-position:-128px -480px;}
.xenobio_market32x32.rndmajordisk{background-position:-160px -480px;}
.xenobio_market32x32.integrated_circuit{background-position:-192px -480px;}
.xenobio_market32x32.component{background-position:-224px -480px;}
.xenobio_market32x32.circuit_map{background-position:-256px -480px;}
.xenobio_market32x32.circuit_chip{background-position:-288px -480px;}
.xenobio_market32x32.circuit_board{background-position:-320px -480px;}
.xenobio_market32x32.cartridge_mini{background-position:-352px -480px;}
.xenobio_market32x32.virusdisk{background-position:-384px -480px;}