.seeds32x32{display:inline-block;width:32px;height:32px;background:url('asset.4918f13201282b31c63bf1d243f20838.png') no-repeat;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedbanana{background-position:-0px -0px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedmimana{background-position:-32px -0px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedbananablue{background-position:-64px -0px;}
.seeds32x32.iconsobjhydroponicsseedsdmisampleempty{background-position:-96px -0px;}
.seeds32x32.iconsobjhydroponicsseedsdmialienweed{background-position:-128px -0px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedaloe{background-position:-160px -0px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedambrosiavulgaris{background-position:-192px -0px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedambrosiadeus{background-position:-224px -0px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedambrosiagaia{background-position:-256px -0px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedapple{background-position:-288px -0px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedgoldapple{background-position:-320px -0px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedsoybean{background-position:-352px -0px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedkoibean{background-position:-384px -0px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedgreenbean{background-position:-0px -32px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedjumpingbean{background-position:-32px -32px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedberry{background-position:-64px -32px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedpoisonberry{background-position:-96px -32px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseeddeathberry{background-position:-128px -32px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedglowberry{background-position:-160px -32px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedgrapes{background-position:-192px -32px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedgreengrapes{background-position:-224px -32px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedtoechtauese{background-position:-256px -32px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedlanternfruit{background-position:-288px -32px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedcannabis{background-position:-320px -32px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedmegacannabis{background-position:-352px -32px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedblackcannabis{background-position:-384px -32px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedwhitecannabis{background-position:-0px -64px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedocannabis{background-position:-32px -64px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedwheat{background-position:-64px -64px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedoat{background-position:-96px -64px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedrice{background-position:-128px -64px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedmeatwheat{background-position:-160px -64px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedcherry{background-position:-192px -64px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedbluecherry{background-position:-224px -64px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedcherrybulb{background-position:-256px -64px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedcherrybomb{background-position:-288px -64px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedchili{background-position:-320px -64px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedicepepper{background-position:-352px -64px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedchilighost{background-position:-384px -64px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedbellpepper{background-position:-0px -96px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedlime{background-position:-32px -96px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedorange{background-position:-64px -96px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedlemon{background-position:-96px -96px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedfirelemon{background-position:-128px -96px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedcocoapod{background-position:-160px -96px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedvanillapod{background-position:-192px -96px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedbungotree{background-position:-224px -96px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedcorn{background-position:-256px -96px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedsnapcorn{background-position:-288px -96px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedcotton{background-position:-320px -96px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseeddurathread{background-position:-352px -96px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedcucumber{background-position:-384px -96px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedeggplant{background-position:-0px -128px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedeggy{background-position:-32px -128px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedpoppy{background-position:-64px -128px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedlily{background-position:-96px -128px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedtrumpet{background-position:-128px -128px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedgeranium{background-position:-160px -128px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedfraxinella{background-position:-192px -128px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedharebell{background-position:-224px -128px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedsunflower{background-position:-256px -128px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedmoonflower{background-position:-288px -128px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseednovaflower{background-position:-320px -128px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedrose{background-position:-352px -128px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedcarbonrose{background-position:-384px -128px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedgarlic{background-position:-0px -160px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedgatfruit{background-position:-32px -160px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedgrass{background-position:-64px -160px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedfairygrass{background-position:-96px -160px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedcarpet{background-position:-128px -160px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedshrub{background-position:-160px -160px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedherbs{background-position:-192px -160px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedkorta{background-position:-224px -160px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedsweetkorta{background-position:-256px -160px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedkronkus{background-position:-288px -160px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedwatermelon{background-position:-320px -160px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedholymelon{background-position:-352px -160px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedbarrelmelon{background-position:-384px -160px;}
.seeds32x32.monkestationiconsobjhydroponicsfruitdmihoneydewseed{background-position:-0px -192px;}
.seeds32x32.iconsobjhydroponicsseedsdmimyceliumreishi{background-position:-32px -192px;}
.seeds32x32.iconsobjhydroponicsseedsdmimyceliumamanita{background-position:-64px -192px;}
.seeds32x32.iconsobjhydroponicsseedsdmimyceliumangel{background-position:-96px -192px;}
.seeds32x32.iconsobjhydroponicsseedsdmimyceliumliberty{background-position:-128px -192px;}
.seeds32x32.iconsobjhydroponicsseedsdmimyceliumplump{background-position:-160px -192px;}
.seeds32x32.iconsobjhydroponicsseedsdmimyceliumwalkingmushroom{background-position:-192px -192px;}
.seeds32x32.iconsobjhydroponicsseedsdmimyceliumchanter{background-position:-224px -192px;}
.seeds32x32.iconsobjhydroponicsseedsdmimyceliumjupitercup{background-position:-256px -192px;}
.seeds32x32.iconsobjhydroponicsseedsdmimyceliumglowshroom{background-position:-288px -192px;}
.seeds32x32.iconsobjhydroponicsseedsdmimyceliumglowcap{background-position:-320px -192px;}
.seeds32x32.iconsobjhydroponicsseedsdmimyceliumshadowshroom{background-position:-352px -192px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedodiouspuffball{background-position:-384px -192px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedolive{background-position:-0px -224px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedonion{background-position:-32px -224px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedonionred{background-position:-64px -224px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedpeanut{background-position:-96px -224px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedpeas{background-position:-128px -224px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedlaughpeas{background-position:-160px -224px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedworldpeas{background-position:-192px -224px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedpineapple{background-position:-224px -224px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedplum{background-position:-256px -224px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedplumb{background-position:-288px -224px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedpotato{background-position:-320px -224px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedsweetpotato{background-position:-352px -224px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedpumpkin{background-position:-384px -224px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedblumpkin{background-position:-0px -256px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedrainbowbunch{background-position:-32px -256px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedx{background-position:-64px -256px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedcabbage{background-position:-96px -256px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedreplicapod{background-position:-128px -256px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedcarrot{background-position:-160px -256px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedparsnip{background-position:-192px -256px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedwhitebeet{background-position:-224px -256px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedredbeet{background-position:-256px -256px;}
.seeds32x32.iconsobjservicehydroponicsseedsdmiseedseedling{background-position:-288px -256px;}
.seeds32x32.iconsobjservicehydroponicsseedsdmiseedseedlingevil{background-position:-320px -256px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedsugarcane{background-position:-352px -256px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedbamboo{background-position:-384px -256px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedteaaspera{background-position:-0px -288px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedteaastra{background-position:-32px -288px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedcoffeea{background-position:-64px -288px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedcoffeer{background-position:-96px -288px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedtobacco{background-position:-128px -288px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedstobacco{background-position:-160px -288px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedtomato{background-position:-192px -288px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedbloodtomato{background-position:-224px -288px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedbluetomato{background-position:-256px -288px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedbluespacetomato{background-position:-288px -288px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedkillertomato{background-position:-320px -288px;}
.seeds32x32.iconsobjhydroponicsseedsdmimyceliumtower{background-position:-352px -288px;}
.seeds32x32.iconsobjhydroponicsseedsdmimyceliumsteelcap{background-position:-384px -288px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedkudzu{background-position:-0px -320px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseednettle{background-position:-32px -320px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseeddeathnettle{background-position:-64px -320px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedstarthistle{background-position:-96px -320px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedcorpseflower{background-position:-128px -320px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedgalaxythistle{background-position:-160px -320px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseed{background-position:-192px -320px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedcactus{background-position:-224px -320px;}
.seeds32x32.iconsobjhydroponicsseedsdmimyceliumpolypore{background-position:-256px -320px;}
.seeds32x32.iconsobjhydroponicsseedsdmimyceliumporcini{background-position:-288px -320px;}
.seeds32x32.iconsobjhydroponicsseedsdmimyceliuminocybe{background-position:-320px -320px;}
.seeds32x32.iconsobjhydroponicsseedsdmimyceliumember{background-position:-352px -320px;}
.seeds32x32.iconsobjhydroponicsseedsdmimyceliumseraka{background-position:-384px -320px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedfireblossom{background-position:-0px -352px;}
.seeds32x32.monkestationcodemodulesmapgenexpansionsiconsmushroomfloradmimyceliumredmushroom{background-position:-32px -352px;}
.seeds32x32.monkestationcodemodulesmapgenexpansionsiconsmushroomfloradmimyceliumbluemushroom{background-position:-64px -352px;}
.seeds32x32.monkestationcodemodulesmapgenexpansionsiconsmushroomfloradmimyceliumgreenmushroom{background-position:-96px -352px;}
.seeds32x32.iconsobjhydroponicsseedsdmiseedstarcactus{background-position:-128px -352px;}
.seeds32x32.monkestationiconsobjitemsdrugsdmiseedcocaleaf{background-position:-160px -352px;}
.seeds32x32.monkestationcodemodulesblueshifticonsseedsdmisurik{background-position:-192px -352px;}
.seeds32x32.monkestationiconsobjhydroponicsfruitdmicoconutseed{background-position:-224px -352px;}
.seeds32x32.monkestationiconsobjhydroponicsfruitdmicoconutgunseed{background-position:-256px -352px;}