.emojipedia16x16{display:inline-block;width:16px;height:16px;background:url('asset.af0f4a75145daaa6f913242d7faa109b.png') no-repeat;}
.emojipedia16x16.toolbox{background-position:-0px -0px;}
.emojipedia16x16.wetfloorsign{background-position:-16px -0px;}
.emojipedia16x16.pen{background-position:-32px -0px;}
.emojipedia16x16.paper{background-position:-48px -0px;}
.emojipedia16x16.paperwrote{background-position:-64px -0px;}
.emojipedia16x16.d6{background-position:-80px -0px;}
.emojipedia16x16.d20{background-position:-96px -0px;}
.emojipedia16x16.id{background-position:-112px -0px;}
.emojipedia16x16.capid{background-position:-128px -0px;}
.emojipedia16x16.ian{background-position:-144px -0px;}
.emojipedia16x16.surprised{background-position:-160px -0px;}
.emojipedia16x16.sad{background-position:-176px -0px;}
.emojipedia16x16.reallyhappy{background-position:-192px -0px;}
.emojipedia16x16.happy{background-position:-208px -0px;}
.emojipedia16x16.face{background-position:-224px -0px;}
.emojipedia16x16.superhappy{background-position:-240px -0px;}
.emojipedia16x16.cat{background-position:-0px -16px;}
.emojipedia16x16.mad{background-position:-16px -16px;}
.emojipedia16x16.bluetank{background-position:-32px -16px;}
.emojipedia16x16.ai{background-position:-48px -16px;}
.emojipedia16x16.toysword{background-position:-64px -16px;}
.emojipedia16x16.clean{background-position:-80px -16px;}
.emojipedia16x16.tile{background-position:-96px -16px;}
.emojipedia16x16.medbot{background-position:-112px -16px;}
.emojipedia16x16.thelaw{background-position:-128px -16px;}
.emojipedia16x16.head{background-position:-144px -16px;}
.emojipedia16x16.ninja{background-position:-160px -16px;}
.emojipedia16x16.honkman{background-position:-176px -16px;}
.emojipedia16x16.silentman{background-position:-192px -16px;}
.emojipedia16x16.unknownman{background-position:-208px -16px;}
.emojipedia16x16.owlman{background-position:-224px -16px;}
.emojipedia16x16.pigman{background-position:-240px -16px;}
.emojipedia16x16.neigh{background-position:-0px -32px;}
.emojipedia16x16.monkey{background-position:-16px -32px;}
.emojipedia16x16.xeno{background-position:-32px -32px;}
.emojipedia16x16.hug{background-position:-48px -32px;}
.emojipedia16x16.heart{background-position:-64px -32px;}
.emojipedia16x16.igloves{background-position:-80px -32px;}
.emojipedia16x16.capgun{background-position:-96px -32px;}
.emojipedia16x16.revolver{background-position:-112px -32px;}
.emojipedia16x16.disk{background-position:-128px -32px;}
.emojipedia16x16.singulo{background-position:-144px -32px;}
.emojipedia16x16.engie{background-position:-160px -32px;}
.emojipedia16x16.newcop{background-position:-176px -32px;}
.emojipedia16x16.cardborg{background-position:-192px -32px;}
.emojipedia16x16.shades{background-position:-208px -32px;}
.emojipedia16x16.brain{background-position:-224px -32px;}
.emojipedia16x16.flash{background-position:-240px -32px;}
.emojipedia16x16.flashbang{background-position:-0px -48px;}
.emojipedia16x16.c4{background-position:-16px -48px;}
.emojipedia16x16.burn{background-position:-32px -48px;}
.emojipedia16x16.salt{background-position:-48px -48px;}
.emojipedia16x16.popcorn{background-position:-64px -48px;}
.emojipedia16x16.burger{background-position:-80px -48px;}
.emojipedia16x16.donut{background-position:-96px -48px;}
.emojipedia16x16.donut2{background-position:-112px -48px;}
.emojipedia16x16.meatball{background-position:-128px -48px;}
.emojipedia16x16.beer{background-position:-144px -48px;}
.emojipedia16x16.whiskey{background-position:-160px -48px;}
.emojipedia16x16.peel{background-position:-176px -48px;}
.emojipedia16x16.honk{background-position:-192px -48px;}
.emojipedia16x16.bball{background-position:-208px -48px;}
.emojipedia16x16.pepper{background-position:-224px -48px;}
.emojipedia16x16.malf{background-position:-240px -48px;}
.emojipedia16x16.blob{background-position:-0px -64px;}
.emojipedia16x16.rune{background-position:-16px -64px;}
.emojipedia16x16.onisoma{background-position:-32px -64px;}
.emojipedia16x16.rollie{background-position:-48px -64px;}
.emojipedia16x16.ambrosia{background-position:-64px -64px;}
.emojipedia16x16.hugbox{background-position:-80px -64px;}
.emojipedia16x16.syndie{background-position:-96px -64px;}
.emojipedia16x16.carp{background-position:-112px -64px;}
.emojipedia16x16.liz{background-position:-128px -64px;}
.emojipedia16x16.fedora{background-position:-144px -64px;}
.emojipedia16x16.medal{background-position:-160px -64px;}
.emojipedia16x16.eggplant{background-position:-176px -64px;}
.emojipedia16x16.dosh{background-position:-192px -64px;}
.emojipedia16x16.goliathold{background-position:-208px -64px;}
.emojipedia16x16.goliath{background-position:-224px -64px;}
.emojipedia16x16.trophy{background-position:-240px -64px;}
.emojipedia16x16.coffee{background-position:-0px -80px;}
.emojipedia16x16.tea{background-position:-16px -80px;}
.emojipedia16x16.gear{background-position:-32px -80px;}
.emojipedia16x16.supermatter{background-position:-48px -80px;}
.emojipedia16x16.forcesword{background-position:-64px -80px;}
.emojipedia16x16.gift{background-position:-80px -80px;}
.emojipedia16x16.kudzu{background-position:-96px -80px;}
.emojipedia16x16.chrono{background-position:-112px -80px;}
.emojipedia16x16.nya{background-position:-128px -80px;}
.emojipedia16x16.tophat{background-position:-144px -80px;}
.emojipedia16x16.candycorn{background-position:-160px -80px;}
.emojipedia16x16.evilcrab{background-position:-176px -80px;}
.emojipedia16x16.paperman{background-position:-192px -80px;}
.emojipedia16x16.arrrman{background-position:-208px -80px;}
.emojipedia16x16.jack{background-position:-224px -80px;}
.emojipedia16x16.skull{background-position:-240px -80px;}
.emojipedia16x16.snya{background-position:-0px -96px;}
.emojipedia16x16.hip{background-position:-16px -96px;}
.emojipedia16x16.riot{background-position:-32px -96px;}
.emojipedia16x16.viva{background-position:-48px -96px;}
.emojipedia16x16.drone{background-position:-64px -96px;}
.emojipedia16x16.cyka{background-position:-80px -96px;}
.emojipedia16x16.up{background-position:-96px -96px;}
.emojipedia16x16.down{background-position:-112px -96px;}
.emojipedia16x16.unepipe{background-position:-128px -96px;}
.emojipedia16x16.plague{background-position:-144px -96px;}
.emojipedia16x16.rainhonk{background-position:-160px -96px;}
.emojipedia16x16.thenews{background-position:-176px -96px;}
.emojipedia16x16.help{background-position:-192px -96px;}
.emojipedia16x16.disarm{background-position:-208px -96px;}
.emojipedia16x16.grab{background-position:-224px -96px;}
.emojipedia16x16.harm{background-position:-240px -96px;}
.emojipedia16x16.queen{background-position:-0px -112px;}
.emojipedia16x16.cult{background-position:-16px -112px;}
.emojipedia16x16.tada{background-position:-32px -112px;}
.emojipedia16x16.joy{background-position:-48px -112px;}
.emojipedia16x16.thinking{background-position:-64px -112px;}
.emojipedia16x16.lsd{background-position:-80px -112px;}
.emojipedia16x16.eng{background-position:-96px -112px;}
.emojipedia16x16.med{background-position:-112px -112px;}
.emojipedia16x16.sci{background-position:-128px -112px;}
.emojipedia16x16.sup{background-position:-144px -112px;}
.emojipedia16x16.sec{background-position:-160px -112px;}
.emojipedia16x16.camera{background-position:-176px -112px;}
.emojipedia16x16.redban{background-position:-192px -112px;}
.emojipedia16x16.bluban{background-position:-208px -112px;}
.emojipedia16x16.pbubblegum{background-position:-224px -112px;}
.emojipedia16x16.pratvar{background-position:-240px -112px;}
.emojipedia16x16.pnarsie{background-position:-0px -128px;}
.emojipedia16x16.psnake{background-position:-16px -128px;}
.emojipedia16x16.plizard{background-position:-32px -128px;}
.emojipedia16x16.pbee{background-position:-48px -128px;}
.emojipedia16x16.pop{background-position:-64px -128px;}
.emojipedia16x16.pslime{background-position:-80px -128px;}
.emojipedia16x16.slime{background-position:-96px -128px;}
.emojipedia16x16.cow{background-position:-112px -128px;}
.emojipedia16x16.chick{background-position:-128px -128px;}
.emojipedia16x16.jerry{background-position:-144px -128px;}
.emojipedia16x16.pete{background-position:-160px -128px;}
.emojipedia16x16.poly{background-position:-176px -128px;}
.emojipedia16x16.clocky{background-position:-192px -128px;}
.emojipedia16x16.snek{background-position:-208px -128px;}
.emojipedia16x16.bear{background-position:-224px -128px;}
.emojipedia16x16.frog{background-position:-240px -128px;}
.emojipedia16x16.swarmer{background-position:-0px -144px;}
.emojipedia16x16.flush{background-position:-16px -144px;}
.emojipedia16x16.flushed{background-position:-32px -144px;}
.emojipedia16x16.door{background-position:-48px -144px;}
.emojipedia16x16.nuke{background-position:-64px -144px;}
.emojipedia16x16.wiz{background-position:-80px -144px;}
.emojipedia16x16.meat{background-position:-96px -144px;}
.emojipedia16x16.pest{background-position:-112px -144px;}
.emojipedia16x16.cam{background-position:-128px -144px;}
.emojipedia16x16.screw{background-position:-144px -144px;}
.emojipedia16x16.headset{background-position:-160px -144px;}
.emojipedia16x16.book{background-position:-176px -144px;}
.emojipedia16x16.bible{background-position:-192px -144px;}
.emojipedia16x16.call{background-position:-208px -144px;}
.emojipedia16x16.cuffs{background-position:-224px -144px;}
.emojipedia16x16.cola{background-position:-240px -144px;}
.emojipedia16x16.fire{background-position:-0px -160px;}
.emojipedia16x16.vomit{background-position:-16px -160px;}
.emojipedia16x16.cock{background-position:-32px -160px;}
.emojipedia16x16.gondy{background-position:-48px -160px;}
.emojipedia16x16.swatter{background-position:-64px -160px;}
.emojipedia16x16.pizza{background-position:-80px -160px;}
.emojipedia16x16.shroom{background-position:-96px -160px;}
.emojipedia16x16.change{background-position:-112px -160px;}
.emojipedia16x16.staff{background-position:-128px -160px;}
.emojipedia16x16.taser{background-position:-144px -160px;}
.emojipedia16x16.plant{background-position:-160px -160px;}
.emojipedia16x16.box{background-position:-176px -160px;}
.emojipedia16x16.closet{background-position:-192px -160px;}
.emojipedia16x16.stamp{background-position:-208px -160px;}
.emojipedia16x16.pill{background-position:-224px -160px;}
.emojipedia16x16.bandaid{background-position:-240px -160px;}
.emojipedia16x16.bottle{background-position:-0px -176px;}
.emojipedia16x16.b{background-position:-16px -176px;}
.emojipedia16x16.clap{background-position:-32px -176px;}
.emojipedia16x16.rad{background-position:-48px -176px;}
.emojipedia16x16.notice{background-position:-64px -176px;}
.emojipedia16x16.pmoth{background-position:-80px -176px;}
.emojipedia16x16.sick{background-position:-96px -176px;}
.emojipedia16x16.dragon{background-position:-112px -176px;}
.emojipedia16x16.larva{background-position:-128px -176px;}
.emojipedia16x16.cake{background-position:-144px -176px;}
.emojipedia16x16.conbaton{background-position:-160px -176px;}
.emojipedia16x16.trap{background-position:-176px -176px;}
.emojipedia16x16.sink{background-position:-192px -176px;}
.emojipedia16x16.portal{background-position:-208px -176px;}
.emojipedia16x16.jannie{background-position:-224px -176px;}
.emojipedia16x16.iv{background-position:-240px -176px;}
.emojipedia16x16.barrp{background-position:-0px -192px;}
.emojipedia16x16.codex{background-position:-16px -192px;}
.emojipedia16x16.ling{background-position:-32px -192px;}
.emojipedia16x16.cultie{background-position:-48px -192px;}
.emojipedia16x16.yes{background-position:-64px -192px;}
.emojipedia16x16.no{background-position:-80px -192px;}
.emojipedia16x16.u{background-position:-96px -192px;}
.emojipedia16x16.q{background-position:-112px -192px;}
.emojipedia16x16.exclamation{background-position:-128px -192px;}
.emojipedia16x16.eyes{background-position:-144px -192px;}
.emojipedia16x16.squint{background-position:-160px -192px;}
.emojipedia16x16.maint{background-position:-176px -192px;}
.emojipedia16x16.flock{background-position:-192px -192px;}
.emojipedia16x16.aid{background-position:-208px -192px;}
.emojipedia16x16.haxxor{background-position:-224px -192px;}
.emojipedia16x16.real{background-position:-240px -192px;}
.emojipedia16x16.cone{background-position:-0px -208px;}
.emojipedia16x16.plasmiley{background-position:-16px -208px;}
.emojipedia16x16.plasmeme{background-position:-32px -208px;}
.emojipedia16x16.fpalm{background-position:-48px -208px;}
.emojipedia16x16.on{background-position:-64px -208px;}
.emojipedia16x16.off{background-position:-80px -208px;}
.emojipedia16x16.sbomb{background-position:-96px -208px;}
.emojipedia16x16.charging{background-position:-112px -208px;}
.emojipedia16x16.charged{background-position:-128px -208px;}
.emojipedia16x16.wrench{background-position:-144px -208px;}
.emojipedia16x16.weld{background-position:-160px -208px;}
.emojipedia16x16.crowbar{background-position:-176px -208px;}
.emojipedia16x16.mtool{background-position:-192px -208px;}
.emojipedia16x16.cut{background-position:-208px -208px;}
.emojipedia16x16.plunge{background-position:-224px -208px;}
.emojipedia16x16.pensive{background-position:-240px -208px;}
.emojipedia16x16.patreon{background-position:-0px -224px;}
.emojipedia16x16.twitch{background-position:-16px -224px;}