.mafia32x32{display:inline-block;width:32px;height:32px;background:url('asset.35d1a94ca9df9ab55e221fd8aa261826.png') no-repeat;}
.mafia32x32.vote_1{background-position:-0px -0px;}
.mafia32x32.vote_2{background-position:-32px -0px;}
.mafia32x32.vote_3{background-position:-64px -0px;}
.mafia32x32.vote_4{background-position:-96px -0px;}
.mafia32x32.vote_5{background-position:-128px -0px;}
.mafia32x32.vote_6{background-position:-160px -0px;}
.mafia32x32.vote_7{background-position:-192px -0px;}
.mafia32x32.vote_8{background-position:-0px -32px;}
.mafia32x32.vote_9{background-position:-32px -32px;}
.mafia32x32.vote_10{background-position:-64px -32px;}
.mafia32x32.vote_11{background-position:-96px -32px;}
.mafia32x32.vote_12{background-position:-128px -32px;}
.mafia32x32.vote_over_12{background-position:-160px -32px;}
.mafia32x32.board{background-position:-192px -32px;}
.mafia32x32.hudassistant{background-position:-0px -64px;}
.mafia32x32.assistant{background-position:-32px -64px;}
.mafia32x32.huddetective{background-position:-64px -64px;}
.mafia32x32.detective{background-position:-96px -64px;}
.mafia32x32.hudpsychologist{background-position:-128px -64px;}
.mafia32x32.psychologist{background-position:-160px -64px;}
.mafia32x32.hudchaplain{background-position:-192px -64px;}
.mafia32x32.chaplain{background-position:-0px -96px;}
.mafia32x32.hudmedicaldoctor{background-position:-32px -96px;}
.mafia32x32.medicaldoctor{background-position:-64px -96px;}
.mafia32x32.hudsecurityofficer{background-position:-96px -96px;}
.mafia32x32.securityofficer{background-position:-128px -96px;}
.mafia32x32.hudlawyer{background-position:-160px -96px;}
.mafia32x32.lawyer{background-position:-192px -96px;}
.mafia32x32.hudheadofpersonnel{background-position:-0px -128px;}
.mafia32x32.headofpersonnel{background-position:-32px -128px;}
.mafia32x32.hudheadofsecurity{background-position:-64px -128px;}
.mafia32x32.headofsecurity{background-position:-96px -128px;}
.mafia32x32.hudwarden{background-position:-128px -128px;}
.mafia32x32.warden{background-position:-160px -128px;}
.mafia32x32.hudchangeling{background-position:-192px -128px;}
.mafia32x32.changeling{background-position:-0px -160px;}
.mafia32x32.hudthoughtfeeder{background-position:-32px -160px;}
.mafia32x32.thoughtfeeder{background-position:-64px -160px;}
.mafia32x32.hudtraitor{background-position:-96px -160px;}
.mafia32x32.traitor{background-position:-128px -160px;}
.mafia32x32.hudnightmare{background-position:-160px -160px;}
.mafia32x32.nightmare{background-position:-192px -160px;}
.mafia32x32.hudfugitive{background-position:-0px -192px;}
.mafia32x32.fugitive{background-position:-32px -192px;}
.mafia32x32.hudobsessed{background-position:-64px -192px;}
.mafia32x32.obsessed{background-position:-96px -192px;}
.mafia32x32.hudclown{background-position:-128px -192px;}
.mafia32x32.clown{background-position:-160px -192px;}