.rcd-tgui32x32{display:inline-block;width:32px;height:32px;background:url('asset.3dabf9ebadc0663014450d6bdd644020.png') no-repeat;}
.rcd-tgui32x32.bar{background-position:-0px -0px;}
.rcd-tgui32x32.firebitem{background-position:-32px -0px;}
.rcd-tgui32x32.floodlightc1{background-position:-64px -0px;}
.rcd-tgui32x32.alarmbitem{background-position:-96px -0px;}
.rcd-tgui32x32.apc{background-position:-128px -0px;}
.rcd-tgui32x32.box1{background-position:-160px -0px;}
.rcd-tgui32x32.bed{background-position:-192px -0px;}
.rcd-tgui32x32.catwalk0{background-position:-224px -0px;}
.rcd-tgui32x32.cnorth{background-position:-0px -32px;}
.rcd-tgui32x32.csouth{background-position:-32px -32px;}
.rcd-tgui32x32.ceast{background-position:-64px -32px;}
.rcd-tgui32x32.cwest{background-position:-96px -32px;}
.rcd-tgui32x32.chair{background-position:-128px -32px;}
.rcd-tgui32x32.securewindoor{background-position:-160px -32px;}
.rcd-tgui32x32.stool{background-position:-192px -32px;}
.rcd-tgui32x32.wallfloor{background-position:-224px -32px;}
.rcd-tgui32x32.windowsize{background-position:-0px -64px;}
.rcd-tgui32x32.windowtype{background-position:-32px -64px;}
.rcd-tgui32x32.windoor{background-position:-64px -64px;}
.rcd-tgui32x32.glasstable{background-position:-96px -64px;}
.rcd-tgui32x32.rack{background-position:-128px -64px;}
.rcd-tgui32x32.rwindow0{background-position:-160px -64px;}
.rcd-tgui32x32.reflectorbase{background-position:-192px -64px;}
.rcd-tgui32x32.table{background-position:-224px -64px;}
.rcd-tgui32x32.window0{background-position:-0px -96px;}
.rcd-tgui32x32.girder{background-position:-32px -96px;}
.rcd-tgui32x32.windowsill0{background-position:-64px -96px;}
.rcd-tgui32x32.Standard{background-position:-96px -96px;}
.rcd-tgui32x32.StandardGlass{background-position:-128px -96px;}
.rcd-tgui32x32.Public{background-position:-160px -96px;}
.rcd-tgui32x32.PublicGlass{background-position:-192px -96px;}
.rcd-tgui32x32.Engineering{background-position:-224px -96px;}
.rcd-tgui32x32.EngineeringGlass{background-position:-0px -128px;}
.rcd-tgui32x32.Atmospherics{background-position:-32px -128px;}
.rcd-tgui32x32.AtmosphericsGlass{background-position:-64px -128px;}
.rcd-tgui32x32.Security{background-position:-96px -128px;}
.rcd-tgui32x32.SecurityGlass{background-position:-128px -128px;}
.rcd-tgui32x32.Command{background-position:-160px -128px;}
.rcd-tgui32x32.CommandGlass{background-position:-192px -128px;}
.rcd-tgui32x32.Medical{background-position:-224px -128px;}
.rcd-tgui32x32.MedicalGlass{background-position:-0px -160px;}
.rcd-tgui32x32.Research{background-position:-32px -160px;}
.rcd-tgui32x32.ResearchGlass{background-position:-64px -160px;}
.rcd-tgui32x32.Freezer{background-position:-96px -160px;}
.rcd-tgui32x32.Pathology{background-position:-128px -160px;}
.rcd-tgui32x32.PathologyGlass{background-position:-160px -160px;}
.rcd-tgui32x32.Mining{background-position:-192px -160px;}
.rcd-tgui32x32.MiningGlass{background-position:-224px -160px;}
.rcd-tgui32x32.Maintenance{background-position:-0px -192px;}
.rcd-tgui32x32.MaintenanceGlass{background-position:-32px -192px;}
.rcd-tgui32x32.External{background-position:-64px -192px;}
.rcd-tgui32x32.ExternalGlass{background-position:-96px -192px;}
.rcd-tgui32x32.ExternalMaintenance{background-position:-128px -192px;}
.rcd-tgui32x32.ExternalMaintenanceGlass{background-position:-160px -192px;}
.rcd-tgui32x32.AirtightHatch{background-position:-192px -192px;}
.rcd-tgui32x32.MaintenanceHatch{background-position:-224px -192px;}