.chicken_book96x96{display:inline-block;width:96px;height:96px;background:url('asset.fb6a7dd988173e863cfb85cd7cd30b03.png') no-repeat;}
.chicken_book96x96.moblivingbasicchicken{background-position:-0px -0px;}
.chicken_book96x96.moblivingbasicchickendream{background-position:-96px -0px;}
.chicken_book96x96.moblivingbasicchickenbrown{background-position:-192px -0px;}
.chicken_book96x96.moblivingbasicchickenglass{background-position:-288px -0px;}
.chicken_book96x96.moblivingbasicchickenonagadori{background-position:-384px -0px;}
.chicken_book96x96.moblivingbasicchickenixworth{background-position:-480px -0px;}
.chicken_book96x96.moblivingbasicchickensilkiewhite{background-position:-0px -96px;}
.chicken_book96x96.moblivingbasicchickensilkieblack{background-position:-96px -96px;}
.chicken_book96x96.moblivingbasicchickensilkie{background-position:-192px -96px;}
.chicken_book96x96.moblivingbasicchickenvoid{background-position:-288px -96px;}
.chicken_book96x96.moblivingbasicchickenclown{background-position:-384px -96px;}
.chicken_book96x96.moblivingbasicchickenspicy{background-position:-480px -96px;}
.chicken_book96x96.moblivingbasicchickenraptor{background-position:-0px -192px;}
.chicken_book96x96.moblivingbasicchickencottoncandy{background-position:-96px -192px;}
.chicken_book96x96.moblivingbasicchickensnowy{background-position:-192px -192px;}
.chicken_book96x96.moblivingbasicchickenpigeon{background-position:-288px -192px;}
.chicken_book96x96.moblivingbasicchickenstone{background-position:-384px -192px;}
.chicken_book96x96.moblivingbasicchickenwiznerd{background-position:-480px -192px;}
.chicken_book96x96.moblivingbasicchickensword{background-position:-0px -288px;}
.chicken_book96x96.moblivingbasicchickengolden{background-position:-96px -288px;}
.chicken_book96x96.moblivingbasicchickenclownsad{background-position:-192px -288px;}
.chicken_book96x96.moblivingbasicchickenmime{background-position:-288px -288px;}
.chicken_book96x96.moblivingbasicchickenphoenix{background-position:-384px -288px;}
.chicken_book96x96.moblivingbasicchickendreamsicle{background-position:-480px -288px;}
.chicken_book96x96.moblivingbasicchickencockatrice{background-position:-0px -384px;}
.chicken_book96x96.moblivingbasicchickenrobot{background-position:-96px -384px;}
.chicken_book96x96.moblivingbasicchickenrevraptor{background-position:-192px -384px;}