.floor_decals32x32{display:inline-block;width:32px;height:32px;background:url('asset.3f31d19c77efb892a64617a7d8fc2b89.png') no-repeat;}
.floor_decals32x32.warningline_1_yellow{background-position:-0px -0px;}
.floor_decals32x32.warningline_1_red{background-position:-32px -0px;}
.floor_decals32x32.warningline_1_white{background-position:-64px -0px;}
.floor_decals32x32.warningline_2_yellow{background-position:-96px -0px;}
.floor_decals32x32.warningline_2_red{background-position:-128px -0px;}
.floor_decals32x32.warningline_2_white{background-position:-160px -0px;}
.floor_decals32x32.warningline_4_yellow{background-position:-192px -0px;}
.floor_decals32x32.warningline_4_red{background-position:-224px -0px;}
.floor_decals32x32.warningline_4_white{background-position:-256px -0px;}
.floor_decals32x32.warningline_8_yellow{background-position:-288px -0px;}
.floor_decals32x32.warningline_8_red{background-position:-320px -0px;}
.floor_decals32x32.warningline_8_white{background-position:-0px -32px;}
.floor_decals32x32.warninglinecorner_1_yellow{background-position:-32px -32px;}
.floor_decals32x32.warninglinecorner_1_red{background-position:-64px -32px;}
.floor_decals32x32.warninglinecorner_1_white{background-position:-96px -32px;}
.floor_decals32x32.warninglinecorner_2_yellow{background-position:-128px -32px;}
.floor_decals32x32.warninglinecorner_2_red{background-position:-160px -32px;}
.floor_decals32x32.warninglinecorner_2_white{background-position:-192px -32px;}
.floor_decals32x32.warninglinecorner_4_yellow{background-position:-224px -32px;}
.floor_decals32x32.warninglinecorner_4_red{background-position:-256px -32px;}
.floor_decals32x32.warninglinecorner_4_white{background-position:-288px -32px;}
.floor_decals32x32.warninglinecorner_8_yellow{background-position:-320px -32px;}
.floor_decals32x32.warninglinecorner_8_red{background-position:-0px -64px;}
.floor_decals32x32.warninglinecorner_8_white{background-position:-32px -64px;}
.floor_decals32x32.caution_1_yellow{background-position:-64px -64px;}
.floor_decals32x32.caution_1_red{background-position:-96px -64px;}
.floor_decals32x32.caution_1_white{background-position:-128px -64px;}
.floor_decals32x32.caution_2_yellow{background-position:-160px -64px;}
.floor_decals32x32.caution_2_red{background-position:-192px -64px;}
.floor_decals32x32.caution_2_white{background-position:-224px -64px;}
.floor_decals32x32.caution_4_yellow{background-position:-256px -64px;}
.floor_decals32x32.caution_4_red{background-position:-288px -64px;}
.floor_decals32x32.caution_4_white{background-position:-320px -64px;}
.floor_decals32x32.caution_8_yellow{background-position:-0px -96px;}
.floor_decals32x32.caution_8_red{background-position:-32px -96px;}
.floor_decals32x32.caution_8_white{background-position:-64px -96px;}
.floor_decals32x32.arrows_1_yellow{background-position:-96px -96px;}
.floor_decals32x32.arrows_1_red{background-position:-128px -96px;}
.floor_decals32x32.arrows_1_white{background-position:-160px -96px;}
.floor_decals32x32.arrows_2_yellow{background-position:-192px -96px;}
.floor_decals32x32.arrows_2_red{background-position:-224px -96px;}
.floor_decals32x32.arrows_2_white{background-position:-256px -96px;}
.floor_decals32x32.arrows_4_yellow{background-position:-288px -96px;}
.floor_decals32x32.arrows_4_red{background-position:-320px -96px;}
.floor_decals32x32.arrows_4_white{background-position:-0px -128px;}
.floor_decals32x32.arrows_8_yellow{background-position:-32px -128px;}
.floor_decals32x32.arrows_8_red{background-position:-64px -128px;}
.floor_decals32x32.arrows_8_white{background-position:-96px -128px;}
.floor_decals32x32.stand_clear_1_yellow{background-position:-128px -128px;}
.floor_decals32x32.stand_clear_1_red{background-position:-160px -128px;}
.floor_decals32x32.stand_clear_1_white{background-position:-192px -128px;}
.floor_decals32x32.stand_clear_2_yellow{background-position:-224px -128px;}
.floor_decals32x32.stand_clear_2_red{background-position:-256px -128px;}
.floor_decals32x32.stand_clear_2_white{background-position:-288px -128px;}
.floor_decals32x32.stand_clear_4_yellow{background-position:-320px -128px;}
.floor_decals32x32.stand_clear_4_red{background-position:-0px -160px;}
.floor_decals32x32.stand_clear_4_white{background-position:-32px -160px;}
.floor_decals32x32.stand_clear_8_yellow{background-position:-64px -160px;}
.floor_decals32x32.stand_clear_8_red{background-position:-96px -160px;}
.floor_decals32x32.stand_clear_8_white{background-position:-128px -160px;}
.floor_decals32x32.bot_1_yellow{background-position:-160px -160px;}
.floor_decals32x32.bot_1_red{background-position:-192px -160px;}
.floor_decals32x32.bot_1_white{background-position:-224px -160px;}
.floor_decals32x32.bot_2_yellow{background-position:-256px -160px;}
.floor_decals32x32.bot_2_red{background-position:-288px -160px;}
.floor_decals32x32.bot_2_white{background-position:-320px -160px;}
.floor_decals32x32.bot_4_yellow{background-position:-0px -192px;}
.floor_decals32x32.bot_4_red{background-position:-32px -192px;}
.floor_decals32x32.bot_4_white{background-position:-64px -192px;}
.floor_decals32x32.bot_8_yellow{background-position:-96px -192px;}
.floor_decals32x32.bot_8_red{background-position:-128px -192px;}
.floor_decals32x32.bot_8_white{background-position:-160px -192px;}
.floor_decals32x32.box_1_yellow{background-position:-192px -192px;}
.floor_decals32x32.box_1_red{background-position:-224px -192px;}
.floor_decals32x32.box_1_white{background-position:-256px -192px;}
.floor_decals32x32.box_2_yellow{background-position:-288px -192px;}
.floor_decals32x32.box_2_red{background-position:-320px -192px;}
.floor_decals32x32.box_2_white{background-position:-0px -224px;}
.floor_decals32x32.box_4_yellow{background-position:-32px -224px;}
.floor_decals32x32.box_4_red{background-position:-64px -224px;}
.floor_decals32x32.box_4_white{background-position:-96px -224px;}
.floor_decals32x32.box_8_yellow{background-position:-128px -224px;}
.floor_decals32x32.box_8_red{background-position:-160px -224px;}
.floor_decals32x32.box_8_white{background-position:-192px -224px;}
.floor_decals32x32.box_corners_1_yellow{background-position:-224px -224px;}
.floor_decals32x32.box_corners_1_red{background-position:-256px -224px;}
.floor_decals32x32.box_corners_1_white{background-position:-288px -224px;}
.floor_decals32x32.box_corners_2_yellow{background-position:-320px -224px;}
.floor_decals32x32.box_corners_2_red{background-position:-0px -256px;}
.floor_decals32x32.box_corners_2_white{background-position:-32px -256px;}
.floor_decals32x32.box_corners_4_yellow{background-position:-64px -256px;}
.floor_decals32x32.box_corners_4_red{background-position:-96px -256px;}
.floor_decals32x32.box_corners_4_white{background-position:-128px -256px;}
.floor_decals32x32.box_corners_8_yellow{background-position:-160px -256px;}
.floor_decals32x32.box_corners_8_red{background-position:-192px -256px;}
.floor_decals32x32.box_corners_8_white{background-position:-224px -256px;}
.floor_decals32x32.delivery_1_yellow{background-position:-256px -256px;}
.floor_decals32x32.delivery_1_red{background-position:-288px -256px;}
.floor_decals32x32.delivery_1_white{background-position:-320px -256px;}
.floor_decals32x32.delivery_2_yellow{background-position:-0px -288px;}
.floor_decals32x32.delivery_2_red{background-position:-32px -288px;}
.floor_decals32x32.delivery_2_white{background-position:-64px -288px;}
.floor_decals32x32.delivery_4_yellow{background-position:-96px -288px;}
.floor_decals32x32.delivery_4_red{background-position:-128px -288px;}
.floor_decals32x32.delivery_4_white{background-position:-160px -288px;}
.floor_decals32x32.delivery_8_yellow{background-position:-192px -288px;}
.floor_decals32x32.delivery_8_red{background-position:-224px -288px;}
.floor_decals32x32.delivery_8_white{background-position:-256px -288px;}
.floor_decals32x32.warn_full_1_yellow{background-position:-288px -288px;}
.floor_decals32x32.warn_full_1_red{background-position:-320px -288px;}
.floor_decals32x32.warn_full_1_white{background-position:-0px -320px;}
.floor_decals32x32.warn_full_2_yellow{background-position:-32px -320px;}
.floor_decals32x32.warn_full_2_red{background-position:-64px -320px;}
.floor_decals32x32.warn_full_2_white{background-position:-96px -320px;}
.floor_decals32x32.warn_full_4_yellow{background-position:-128px -320px;}
.floor_decals32x32.warn_full_4_red{background-position:-160px -320px;}
.floor_decals32x32.warn_full_4_white{background-position:-192px -320px;}
.floor_decals32x32.warn_full_8_yellow{background-position:-224px -320px;}
.floor_decals32x32.warn_full_8_red{background-position:-256px -320px;}
.floor_decals32x32.warn_full_8_white{background-position:-288px -320px;}