.bibles224x224{display:inline-block;width:224px;height:224px;background:url('asset.227bbea0a212a339c3b8937e99e26ecd.png') no-repeat;}
.bibles224x224.display-bible{background-position:-0px -0px;}
.bibles224x224.display-koran{background-position:-224px -0px;}
.bibles224x224.display-gurugranthsahib{background-position:-448px -0px;}
.bibles224x224.display-scrapbook{background-position:-672px -0px;}
.bibles224x224.display-creeper{background-position:-896px -0px;}
.bibles224x224.display-white{background-position:-0px -224px;}
.bibles224x224.display-holylight{background-position:-224px -224px;}
.bibles224x224.display-atheist{background-position:-448px -224px;}
.bibles224x224.display-tome{background-position:-672px -224px;}
.bibles224x224.display-kingyellow{background-position:-896px -224px;}
.bibles224x224.display-ithaqua{background-position:-0px -448px;}
.bibles224x224.display-scientology{background-position:-224px -448px;}
.bibles224x224.display-melted{background-position:-448px -448px;}
.bibles224x224.display-necronomicon{background-position:-672px -448px;}
.bibles224x224.display-burning{background-position:-896px -448px;}
.bibles224x224.display-honk1{background-position:-0px -672px;}
.bibles224x224.display-honk2{background-position:-224px -672px;}
.bibles224x224.display-ebook{background-position:-448px -672px;}
.bibles224x224.display-insuls{background-position:-672px -672px;}
.bibles224x224.display-kojiki{background-position:-896px -672px;}
.bibles224x224.display-shot{background-position:-0px -896px;}