.plumbing-tgui32x32{display:inline-block;width:32px;height:32px;background:url('asset.17dcc20b1629fec47c49120ddde1c317.png') no-repeat;}
.plumbing-tgui32x32.plumb{background-position:-0px -0px;}
.plumbing-tgui32x32.nduct{background-position:-32px -0px;}
.plumbing-tgui32x32.plumbing_layer1{background-position:-64px -0px;}
.plumbing-tgui32x32.plumbing_layer2{background-position:-96px -0px;}
.plumbing-tgui32x32.plumbing_layer4{background-position:-128px -0px;}
.plumbing-tgui32x32.plumbing_layer8{background-position:-160px -0px;}
.plumbing-tgui32x32.plumbing_layer16{background-position:-0px -32px;}
.plumbing-tgui32x32.synthesizer{background-position:-32px -32px;}
.plumbing-tgui32x32.reaction_chamber{background-position:-64px -32px;}
.plumbing-tgui32x32.grinder_chemical{background-position:-96px -32px;}
.plumbing-tgui32x32.growing_vat{background-position:-128px -32px;}
.plumbing-tgui32x32.fermenter{background-position:-160px -32px;}
.plumbing-tgui32x32.pump{background-position:-0px -64px;}
.plumbing-tgui32x32.disposal{background-position:-32px -64px;}
.plumbing-tgui32x32.buffer{background-position:-64px -64px;}
.plumbing-tgui32x32.manifold{background-position:-96px -64px;}
.plumbing-tgui32x32.pipe_input{background-position:-128px -64px;}
.plumbing-tgui32x32.filter{background-position:-160px -64px;}
.plumbing-tgui32x32.splitter{background-position:-0px -96px;}
.plumbing-tgui32x32.beacon{background-position:-32px -96px;}
.plumbing-tgui32x32.pipe_output{background-position:-64px -96px;}
.plumbing-tgui32x32.tank{background-position:-96px -96px;}
.plumbing-tgui32x32.acclimator{background-position:-128px -96px;}
.plumbing-tgui32x32.bottler{background-position:-160px -96px;}
.plumbing-tgui32x32.pill_press{background-position:-0px -128px;}
.plumbing-tgui32x32.synthesizer_soda{background-position:-32px -128px;}
.plumbing-tgui32x32.synthesizer_booze{background-position:-64px -128px;}
.plumbing-tgui32x32.tap_output{background-position:-96px -128px;}
.plumbing-tgui32x32.cross_compressor{background-position:-128px -128px;}
.plumbing-tgui32x32.ooze_sucker{background-position:-160px -128px;}
.plumbing-tgui32x32.slime_grinder_backdrop{background-position:-0px -160px;}