.crafting32x32{display:inline-block;width:32px;height:32px;background:url('asset.839b59adee094960e1e7f0d7039d9837.png') no-repeat;}
.crafting32x64{display:inline-block;width:32px;height:64px;background:url('asset.9d37e8d568a6d57ac04f4bb8ffb00bc3.png') no-repeat;}
.crafting40x32{display:inline-block;width:40px;height:32px;background:url('asset.c44c54a1988e750959a6545d05484e12.png') no-repeat;}
.crafting24x24{display:inline-block;width:24px;height:24px;background:url('asset.2861da4b7c516f236992af0583780b50.png') no-repeat;}
.crafting32x32.a1{background-position:-0px -0px;}
.crafting32x32.a2{background-position:-32px -0px;}
.crafting32x32.a3{background-position:-64px -0px;}
.crafting32x32.a4{background-position:-96px -0px;}
.crafting32x32.a5{background-position:-128px -0px;}
.crafting32x32.a6{background-position:-160px -0px;}
.crafting32x32.a7{background-position:-192px -0px;}
.crafting32x32.a8{background-position:-224px -0px;}
.crafting32x32.a9{background-position:-256px -0px;}
.crafting32x32.a10{background-position:-288px -0px;}
.crafting32x32.a11{background-position:-320px -0px;}
.crafting32x32.a12{background-position:-352px -0px;}
.crafting32x32.a13{background-position:-384px -0px;}
.crafting32x32.a14{background-position:-416px -0px;}
.crafting32x32.a15{background-position:-448px -0px;}
.crafting32x32.a16{background-position:-480px -0px;}
.crafting32x32.a17{background-position:-512px -0px;}
.crafting32x32.a18{background-position:-544px -0px;}
.crafting32x32.a19{background-position:-576px -0px;}
.crafting32x32.a20{background-position:-608px -0px;}
.crafting32x32.a21{background-position:-640px -0px;}
.crafting32x32.a22{background-position:-672px -0px;}
.crafting32x32.a23{background-position:-704px -0px;}
.crafting32x32.a24{background-position:-736px -0px;}
.crafting32x32.a25{background-position:-768px -0px;}
.crafting32x32.a26{background-position:-800px -0px;}
.crafting32x32.a27{background-position:-832px -0px;}
.crafting32x32.a28{background-position:-864px -0px;}
.crafting32x32.a29{background-position:-896px -0px;}
.crafting32x32.a30{background-position:-928px -0px;}
.crafting32x32.a31{background-position:-960px -0px;}
.crafting32x32.a32{background-position:-0px -32px;}
.crafting32x32.a33{background-position:-32px -32px;}
.crafting32x32.a34{background-position:-64px -32px;}
.crafting32x32.a35{background-position:-96px -32px;}
.crafting32x32.a36{background-position:-128px -32px;}
.crafting32x32.a37{background-position:-160px -32px;}
.crafting32x32.a38{background-position:-192px -32px;}
.crafting32x32.a39{background-position:-224px -32px;}
.crafting32x32.a40{background-position:-256px -32px;}
.crafting32x32.a41{background-position:-288px -32px;}
.crafting32x32.a42{background-position:-320px -32px;}
.crafting32x32.a43{background-position:-352px -32px;}
.crafting32x32.a44{background-position:-384px -32px;}
.crafting32x32.a45{background-position:-416px -32px;}
.crafting32x32.a46{background-position:-448px -32px;}
.crafting32x32.a47{background-position:-480px -32px;}
.crafting32x32.a48{background-position:-512px -32px;}
.crafting32x32.a49{background-position:-544px -32px;}
.crafting32x32.a50{background-position:-576px -32px;}
.crafting32x32.a51{background-position:-608px -32px;}
.crafting32x32.a52{background-position:-640px -32px;}
.crafting32x32.a53{background-position:-672px -32px;}
.crafting32x32.a54{background-position:-704px -32px;}
.crafting32x32.a55{background-position:-736px -32px;}
.crafting32x32.a56{background-position:-768px -32px;}
.crafting32x32.a57{background-position:-800px -32px;}
.crafting32x32.a58{background-position:-832px -32px;}
.crafting32x32.a59{background-position:-864px -32px;}
.crafting32x32.a60{background-position:-896px -32px;}
.crafting32x32.a61{background-position:-928px -32px;}
.crafting32x32.a62{background-position:-960px -32px;}
.crafting32x32.a63{background-position:-0px -64px;}
.crafting32x32.a64{background-position:-32px -64px;}
.crafting32x32.a65{background-position:-64px -64px;}
.crafting32x32.a66{background-position:-96px -64px;}
.crafting32x32.a67{background-position:-128px -64px;}
.crafting32x32.a68{background-position:-160px -64px;}
.crafting32x32.a69{background-position:-192px -64px;}
.crafting32x32.a70{background-position:-224px -64px;}
.crafting32x32.a71{background-position:-256px -64px;}
.crafting32x32.a72{background-position:-288px -64px;}
.crafting32x32.a73{background-position:-320px -64px;}
.crafting32x32.a74{background-position:-352px -64px;}
.crafting32x32.a75{background-position:-384px -64px;}
.crafting32x32.a76{background-position:-416px -64px;}
.crafting32x32.a77{background-position:-448px -64px;}
.crafting32x32.a78{background-position:-480px -64px;}
.crafting32x32.a79{background-position:-512px -64px;}
.crafting32x32.a80{background-position:-544px -64px;}
.crafting32x32.a81{background-position:-576px -64px;}
.crafting32x32.a82{background-position:-608px -64px;}
.crafting32x32.a83{background-position:-640px -64px;}
.crafting32x32.a84{background-position:-672px -64px;}
.crafting32x32.a85{background-position:-704px -64px;}
.crafting32x32.a86{background-position:-736px -64px;}
.crafting32x32.a87{background-position:-768px -64px;}
.crafting32x32.a88{background-position:-800px -64px;}
.crafting32x32.a89{background-position:-832px -64px;}
.crafting32x32.a90{background-position:-864px -64px;}
.crafting32x32.a91{background-position:-896px -64px;}
.crafting32x32.a92{background-position:-928px -64px;}
.crafting32x32.a93{background-position:-960px -64px;}
.crafting32x32.a94{background-position:-0px -96px;}
.crafting32x32.a95{background-position:-32px -96px;}
.crafting32x32.a96{background-position:-64px -96px;}
.crafting32x32.a97{background-position:-96px -96px;}
.crafting32x32.a98{background-position:-128px -96px;}
.crafting32x32.a99{background-position:-160px -96px;}
.crafting32x32.a100{background-position:-192px -96px;}
.crafting32x32.a101{background-position:-224px -96px;}
.crafting32x32.a102{background-position:-256px -96px;}
.crafting32x32.a103{background-position:-288px -96px;}
.crafting32x32.a104{background-position:-320px -96px;}
.crafting32x32.a105{background-position:-352px -96px;}
.crafting32x32.a106{background-position:-384px -96px;}
.crafting32x32.a107{background-position:-416px -96px;}
.crafting32x32.a108{background-position:-448px -96px;}
.crafting32x32.a109{background-position:-480px -96px;}
.crafting32x32.a110{background-position:-512px -96px;}
.crafting32x32.a111{background-position:-544px -96px;}
.crafting32x32.a112{background-position:-576px -96px;}
.crafting32x32.a113{background-position:-608px -96px;}
.crafting32x32.a114{background-position:-640px -96px;}
.crafting32x32.a115{background-position:-672px -96px;}
.crafting32x32.a116{background-position:-704px -96px;}
.crafting32x32.a117{background-position:-736px -96px;}
.crafting32x32.a118{background-position:-768px -96px;}
.crafting32x32.a119{background-position:-800px -96px;}
.crafting32x32.a120{background-position:-832px -96px;}
.crafting32x32.a121{background-position:-864px -96px;}
.crafting32x32.a122{background-position:-896px -96px;}
.crafting32x32.a123{background-position:-928px -96px;}
.crafting32x32.a124{background-position:-960px -96px;}
.crafting32x32.a125{background-position:-0px -128px;}
.crafting32x32.a126{background-position:-32px -128px;}
.crafting32x32.a127{background-position:-64px -128px;}
.crafting32x32.a128{background-position:-96px -128px;}
.crafting32x32.a129{background-position:-128px -128px;}
.crafting32x32.a130{background-position:-160px -128px;}
.crafting32x32.a131{background-position:-192px -128px;}
.crafting32x32.a132{background-position:-224px -128px;}
.crafting32x32.a133{background-position:-256px -128px;}
.crafting32x32.a134{background-position:-288px -128px;}
.crafting32x32.a135{background-position:-320px -128px;}
.crafting32x32.a136{background-position:-352px -128px;}
.crafting32x32.a137{background-position:-384px -128px;}
.crafting32x32.a138{background-position:-416px -128px;}
.crafting32x32.a139{background-position:-448px -128px;}
.crafting32x32.a140{background-position:-480px -128px;}
.crafting32x32.a141{background-position:-512px -128px;}
.crafting32x32.a142{background-position:-544px -128px;}
.crafting32x32.a143{background-position:-576px -128px;}
.crafting32x32.a144{background-position:-608px -128px;}
.crafting32x32.a145{background-position:-640px -128px;}
.crafting32x32.a146{background-position:-672px -128px;}
.crafting32x32.a147{background-position:-704px -128px;}
.crafting32x32.a148{background-position:-736px -128px;}
.crafting32x32.a149{background-position:-768px -128px;}
.crafting32x32.a150{background-position:-800px -128px;}
.crafting32x32.a151{background-position:-832px -128px;}
.crafting32x32.a152{background-position:-864px -128px;}
.crafting32x32.a153{background-position:-896px -128px;}
.crafting32x32.a154{background-position:-928px -128px;}
.crafting32x32.a155{background-position:-960px -128px;}
.crafting32x32.a156{background-position:-0px -160px;}
.crafting32x32.a157{background-position:-32px -160px;}
.crafting32x32.a158{background-position:-64px -160px;}
.crafting32x32.a159{background-position:-96px -160px;}
.crafting32x32.a160{background-position:-128px -160px;}
.crafting32x32.a161{background-position:-160px -160px;}
.crafting32x32.a162{background-position:-192px -160px;}
.crafting32x32.a163{background-position:-224px -160px;}
.crafting32x32.a164{background-position:-256px -160px;}
.crafting32x32.a165{background-position:-288px -160px;}
.crafting32x32.a166{background-position:-320px -160px;}
.crafting32x32.a167{background-position:-352px -160px;}
.crafting32x32.a168{background-position:-384px -160px;}
.crafting32x32.a169{background-position:-416px -160px;}
.crafting32x32.a170{background-position:-448px -160px;}
.crafting32x32.a171{background-position:-480px -160px;}
.crafting32x32.a172{background-position:-512px -160px;}
.crafting32x32.a173{background-position:-544px -160px;}
.crafting32x32.a174{background-position:-576px -160px;}
.crafting32x32.a175{background-position:-608px -160px;}
.crafting32x32.a176{background-position:-640px -160px;}
.crafting32x32.a177{background-position:-672px -160px;}
.crafting32x32.a178{background-position:-704px -160px;}
.crafting32x32.a179{background-position:-736px -160px;}
.crafting32x32.a180{background-position:-768px -160px;}
.crafting32x32.a181{background-position:-800px -160px;}
.crafting32x32.a182{background-position:-832px -160px;}
.crafting32x32.a183{background-position:-864px -160px;}
.crafting32x32.a184{background-position:-896px -160px;}
.crafting32x32.a185{background-position:-928px -160px;}
.crafting32x32.a186{background-position:-960px -160px;}
.crafting32x32.a187{background-position:-0px -192px;}
.crafting32x32.a188{background-position:-32px -192px;}
.crafting32x32.a189{background-position:-64px -192px;}
.crafting32x32.a190{background-position:-96px -192px;}
.crafting32x32.a191{background-position:-128px -192px;}
.crafting32x32.a192{background-position:-160px -192px;}
.crafting32x32.a193{background-position:-192px -192px;}
.crafting32x32.a194{background-position:-224px -192px;}
.crafting32x32.a195{background-position:-256px -192px;}
.crafting32x32.a196{background-position:-288px -192px;}
.crafting32x32.a197{background-position:-320px -192px;}
.crafting32x32.a198{background-position:-352px -192px;}
.crafting32x32.a199{background-position:-384px -192px;}
.crafting32x32.a200{background-position:-416px -192px;}
.crafting32x32.a201{background-position:-448px -192px;}
.crafting32x32.a202{background-position:-480px -192px;}
.crafting32x32.a203{background-position:-512px -192px;}
.crafting32x32.a204{background-position:-544px -192px;}
.crafting32x32.a205{background-position:-576px -192px;}
.crafting32x32.a206{background-position:-608px -192px;}
.crafting32x32.a207{background-position:-640px -192px;}
.crafting32x32.a208{background-position:-672px -192px;}
.crafting32x32.a209{background-position:-704px -192px;}
.crafting32x32.a210{background-position:-736px -192px;}
.crafting32x32.a211{background-position:-768px -192px;}
.crafting32x32.a212{background-position:-800px -192px;}
.crafting32x32.a213{background-position:-832px -192px;}
.crafting32x32.a214{background-position:-864px -192px;}
.crafting32x32.a215{background-position:-896px -192px;}
.crafting32x32.a216{background-position:-928px -192px;}
.crafting32x32.a217{background-position:-960px -192px;}
.crafting32x32.a218{background-position:-0px -224px;}
.crafting32x32.a219{background-position:-32px -224px;}
.crafting32x32.a220{background-position:-64px -224px;}
.crafting32x32.a221{background-position:-96px -224px;}
.crafting32x32.a222{background-position:-128px -224px;}
.crafting32x32.a223{background-position:-160px -224px;}
.crafting32x32.a224{background-position:-192px -224px;}
.crafting32x32.a225{background-position:-224px -224px;}
.crafting32x32.a226{background-position:-256px -224px;}
.crafting32x32.a227{background-position:-288px -224px;}
.crafting32x32.a228{background-position:-320px -224px;}
.crafting32x32.a229{background-position:-352px -224px;}
.crafting32x32.a230{background-position:-384px -224px;}
.crafting32x32.a231{background-position:-416px -224px;}
.crafting32x32.a232{background-position:-448px -224px;}
.crafting32x32.a233{background-position:-480px -224px;}
.crafting32x32.a234{background-position:-512px -224px;}
.crafting32x32.a235{background-position:-544px -224px;}
.crafting32x32.a236{background-position:-576px -224px;}
.crafting32x32.a237{background-position:-608px -224px;}
.crafting32x32.a238{background-position:-640px -224px;}
.crafting32x32.a239{background-position:-672px -224px;}
.crafting32x32.a240{background-position:-704px -224px;}
.crafting32x32.a241{background-position:-736px -224px;}
.crafting32x32.a242{background-position:-768px -224px;}
.crafting32x32.a243{background-position:-800px -224px;}
.crafting32x32.a244{background-position:-832px -224px;}
.crafting32x32.a245{background-position:-864px -224px;}
.crafting32x32.a246{background-position:-896px -224px;}
.crafting32x32.a247{background-position:-928px -224px;}
.crafting32x32.a248{background-position:-960px -224px;}
.crafting32x32.a249{background-position:-0px -256px;}
.crafting32x32.a250{background-position:-32px -256px;}
.crafting32x32.a251{background-position:-64px -256px;}
.crafting32x32.a252{background-position:-96px -256px;}
.crafting32x32.a253{background-position:-128px -256px;}
.crafting32x32.a254{background-position:-160px -256px;}
.crafting32x32.a255{background-position:-192px -256px;}
.crafting32x32.a256{background-position:-224px -256px;}
.crafting32x32.a257{background-position:-256px -256px;}
.crafting32x32.a258{background-position:-288px -256px;}
.crafting32x32.a259{background-position:-320px -256px;}
.crafting32x32.a260{background-position:-352px -256px;}
.crafting32x32.a261{background-position:-384px -256px;}
.crafting32x32.a262{background-position:-416px -256px;}
.crafting32x32.a263{background-position:-448px -256px;}
.crafting32x32.a264{background-position:-480px -256px;}
.crafting32x32.a265{background-position:-512px -256px;}
.crafting32x32.a266{background-position:-544px -256px;}
.crafting32x32.a267{background-position:-576px -256px;}
.crafting32x32.a268{background-position:-608px -256px;}
.crafting32x32.a269{background-position:-640px -256px;}
.crafting32x32.a270{background-position:-672px -256px;}
.crafting32x32.a271{background-position:-704px -256px;}
.crafting32x32.a272{background-position:-736px -256px;}
.crafting32x32.a273{background-position:-768px -256px;}
.crafting32x32.a274{background-position:-800px -256px;}
.crafting32x32.a275{background-position:-832px -256px;}
.crafting32x32.a276{background-position:-864px -256px;}
.crafting32x32.a277{background-position:-896px -256px;}
.crafting32x32.a278{background-position:-928px -256px;}
.crafting32x32.a279{background-position:-960px -256px;}
.crafting32x32.a280{background-position:-0px -288px;}
.crafting32x32.a281{background-position:-32px -288px;}
.crafting32x32.a282{background-position:-64px -288px;}
.crafting32x32.a283{background-position:-96px -288px;}
.crafting32x32.a284{background-position:-128px -288px;}
.crafting32x32.a285{background-position:-160px -288px;}
.crafting32x32.a286{background-position:-192px -288px;}
.crafting32x32.a287{background-position:-224px -288px;}
.crafting32x32.a288{background-position:-256px -288px;}
.crafting32x32.a289{background-position:-288px -288px;}
.crafting32x32.a290{background-position:-320px -288px;}
.crafting32x32.a291{background-position:-352px -288px;}
.crafting32x32.a292{background-position:-384px -288px;}
.crafting32x32.a293{background-position:-416px -288px;}
.crafting32x32.a294{background-position:-448px -288px;}
.crafting32x32.a295{background-position:-480px -288px;}
.crafting32x32.a296{background-position:-512px -288px;}
.crafting32x32.a297{background-position:-544px -288px;}
.crafting32x32.a298{background-position:-576px -288px;}
.crafting32x32.a299{background-position:-608px -288px;}
.crafting32x32.a300{background-position:-640px -288px;}
.crafting32x32.a301{background-position:-672px -288px;}
.crafting32x32.a302{background-position:-704px -288px;}
.crafting32x32.a303{background-position:-736px -288px;}
.crafting32x32.a304{background-position:-768px -288px;}
.crafting32x32.a305{background-position:-800px -288px;}
.crafting32x32.a306{background-position:-832px -288px;}
.crafting32x32.a307{background-position:-864px -288px;}
.crafting32x32.a308{background-position:-896px -288px;}
.crafting32x32.a309{background-position:-928px -288px;}
.crafting32x32.a310{background-position:-960px -288px;}
.crafting32x32.a311{background-position:-0px -320px;}
.crafting32x32.a312{background-position:-32px -320px;}
.crafting32x32.a313{background-position:-64px -320px;}
.crafting32x32.a314{background-position:-96px -320px;}
.crafting32x32.a315{background-position:-128px -320px;}
.crafting32x32.a316{background-position:-160px -320px;}
.crafting32x32.a317{background-position:-192px -320px;}
.crafting32x32.a318{background-position:-224px -320px;}
.crafting32x32.a319{background-position:-256px -320px;}
.crafting32x32.a320{background-position:-288px -320px;}
.crafting32x32.a321{background-position:-320px -320px;}
.crafting32x32.a322{background-position:-352px -320px;}
.crafting32x32.a323{background-position:-384px -320px;}
.crafting32x32.a324{background-position:-416px -320px;}
.crafting32x32.a325{background-position:-448px -320px;}
.crafting32x32.a326{background-position:-480px -320px;}
.crafting32x32.a327{background-position:-512px -320px;}
.crafting32x32.a328{background-position:-544px -320px;}
.crafting32x32.a329{background-position:-576px -320px;}
.crafting32x32.a330{background-position:-608px -320px;}
.crafting32x32.a331{background-position:-640px -320px;}
.crafting32x32.a332{background-position:-672px -320px;}
.crafting32x32.a333{background-position:-704px -320px;}
.crafting32x32.a334{background-position:-736px -320px;}
.crafting32x32.a335{background-position:-768px -320px;}
.crafting32x32.a336{background-position:-800px -320px;}
.crafting32x32.a337{background-position:-832px -320px;}
.crafting32x32.a338{background-position:-864px -320px;}
.crafting32x32.a339{background-position:-896px -320px;}
.crafting32x32.a340{background-position:-928px -320px;}
.crafting32x32.a341{background-position:-960px -320px;}
.crafting32x32.a342{background-position:-0px -352px;}
.crafting32x32.a343{background-position:-32px -352px;}
.crafting32x32.a344{background-position:-64px -352px;}
.crafting32x32.a345{background-position:-96px -352px;}
.crafting32x32.a346{background-position:-128px -352px;}
.crafting32x32.a347{background-position:-160px -352px;}
.crafting32x32.a348{background-position:-192px -352px;}
.crafting32x32.a349{background-position:-224px -352px;}
.crafting32x32.a350{background-position:-256px -352px;}
.crafting32x32.a351{background-position:-288px -352px;}
.crafting32x32.a352{background-position:-320px -352px;}
.crafting32x32.a353{background-position:-352px -352px;}
.crafting32x32.a354{background-position:-384px -352px;}
.crafting32x32.a355{background-position:-416px -352px;}
.crafting32x32.a356{background-position:-448px -352px;}
.crafting32x32.a357{background-position:-480px -352px;}
.crafting32x32.a358{background-position:-512px -352px;}
.crafting32x32.a359{background-position:-544px -352px;}
.crafting32x32.a360{background-position:-576px -352px;}
.crafting32x32.a361{background-position:-608px -352px;}
.crafting32x32.a362{background-position:-640px -352px;}
.crafting32x32.a363{background-position:-672px -352px;}
.crafting32x32.a364{background-position:-704px -352px;}
.crafting32x32.a365{background-position:-736px -352px;}
.crafting32x32.a366{background-position:-768px -352px;}
.crafting32x32.a367{background-position:-800px -352px;}
.crafting32x32.a368{background-position:-832px -352px;}
.crafting32x32.a369{background-position:-864px -352px;}
.crafting32x32.a370{background-position:-896px -352px;}
.crafting32x32.a371{background-position:-928px -352px;}
.crafting32x32.a372{background-position:-960px -352px;}
.crafting32x32.a373{background-position:-0px -384px;}
.crafting32x32.a374{background-position:-32px -384px;}
.crafting32x32.a375{background-position:-64px -384px;}
.crafting32x32.a376{background-position:-96px -384px;}
.crafting32x32.a377{background-position:-128px -384px;}
.crafting32x32.a378{background-position:-160px -384px;}
.crafting32x32.a379{background-position:-192px -384px;}
.crafting32x32.a380{background-position:-224px -384px;}
.crafting32x32.a381{background-position:-256px -384px;}
.crafting32x32.a382{background-position:-288px -384px;}
.crafting32x32.a383{background-position:-320px -384px;}
.crafting32x32.a384{background-position:-352px -384px;}
.crafting32x32.a385{background-position:-384px -384px;}
.crafting32x32.a386{background-position:-416px -384px;}
.crafting32x32.a387{background-position:-448px -384px;}
.crafting32x32.a388{background-position:-480px -384px;}
.crafting32x32.a389{background-position:-512px -384px;}
.crafting32x32.a390{background-position:-544px -384px;}
.crafting32x32.a391{background-position:-576px -384px;}
.crafting32x32.a392{background-position:-608px -384px;}
.crafting32x32.a393{background-position:-640px -384px;}
.crafting32x32.a394{background-position:-672px -384px;}
.crafting32x32.a395{background-position:-704px -384px;}
.crafting32x32.a396{background-position:-736px -384px;}
.crafting32x32.a397{background-position:-768px -384px;}
.crafting32x32.a398{background-position:-800px -384px;}
.crafting32x32.a399{background-position:-832px -384px;}
.crafting32x32.a400{background-position:-864px -384px;}
.crafting32x32.a401{background-position:-896px -384px;}
.crafting32x32.a402{background-position:-928px -384px;}
.crafting32x32.a403{background-position:-960px -384px;}
.crafting32x32.a404{background-position:-0px -416px;}
.crafting32x32.a405{background-position:-32px -416px;}
.crafting32x32.a406{background-position:-64px -416px;}
.crafting32x32.a407{background-position:-96px -416px;}
.crafting32x32.a408{background-position:-128px -416px;}
.crafting32x32.a409{background-position:-160px -416px;}
.crafting32x32.a410{background-position:-192px -416px;}
.crafting32x32.a411{background-position:-224px -416px;}
.crafting32x32.a412{background-position:-256px -416px;}
.crafting32x64.a413{background-position:-0px -0px;}
.crafting32x32.a414{background-position:-288px -416px;}
.crafting32x32.a415{background-position:-320px -416px;}
.crafting32x32.a416{background-position:-352px -416px;}
.crafting32x32.a417{background-position:-384px -416px;}
.crafting32x32.a418{background-position:-416px -416px;}
.crafting32x32.a419{background-position:-448px -416px;}
.crafting32x32.a420{background-position:-480px -416px;}
.crafting32x32.a421{background-position:-512px -416px;}
.crafting32x32.a422{background-position:-544px -416px;}
.crafting32x32.a423{background-position:-576px -416px;}
.crafting32x32.a424{background-position:-608px -416px;}
.crafting32x32.a425{background-position:-640px -416px;}
.crafting32x32.a426{background-position:-672px -416px;}
.crafting32x32.a427{background-position:-704px -416px;}
.crafting32x32.a428{background-position:-736px -416px;}
.crafting32x32.a429{background-position:-768px -416px;}
.crafting32x32.a430{background-position:-800px -416px;}
.crafting32x32.a431{background-position:-832px -416px;}
.crafting32x32.a432{background-position:-864px -416px;}
.crafting32x32.a433{background-position:-896px -416px;}
.crafting32x32.a434{background-position:-928px -416px;}
.crafting32x32.a435{background-position:-960px -416px;}
.crafting32x32.a436{background-position:-0px -448px;}
.crafting32x32.a437{background-position:-32px -448px;}
.crafting32x32.a438{background-position:-64px -448px;}
.crafting32x32.a439{background-position:-96px -448px;}
.crafting32x32.a440{background-position:-128px -448px;}
.crafting32x32.a441{background-position:-160px -448px;}
.crafting32x32.a442{background-position:-192px -448px;}
.crafting32x32.a443{background-position:-224px -448px;}
.crafting32x32.a444{background-position:-256px -448px;}
.crafting32x32.a445{background-position:-288px -448px;}
.crafting32x32.a446{background-position:-320px -448px;}
.crafting32x32.a447{background-position:-352px -448px;}
.crafting32x32.a448{background-position:-384px -448px;}
.crafting32x32.a449{background-position:-416px -448px;}
.crafting32x32.a450{background-position:-448px -448px;}
.crafting32x32.a451{background-position:-480px -448px;}
.crafting32x64.a452{background-position:-32px -0px;}
.crafting32x32.a453{background-position:-512px -448px;}
.crafting32x32.a454{background-position:-544px -448px;}
.crafting32x32.a455{background-position:-576px -448px;}
.crafting32x32.a456{background-position:-608px -448px;}
.crafting32x32.a457{background-position:-640px -448px;}
.crafting32x32.a458{background-position:-672px -448px;}
.crafting32x32.a459{background-position:-704px -448px;}
.crafting32x32.a460{background-position:-736px -448px;}
.crafting32x32.a461{background-position:-768px -448px;}
.crafting32x32.a462{background-position:-800px -448px;}
.crafting32x32.a463{background-position:-832px -448px;}
.crafting32x32.a464{background-position:-864px -448px;}
.crafting32x32.a465{background-position:-896px -448px;}
.crafting32x32.a466{background-position:-928px -448px;}
.crafting32x32.a467{background-position:-960px -448px;}
.crafting32x32.a468{background-position:-0px -480px;}
.crafting32x32.a469{background-position:-32px -480px;}
.crafting32x32.a470{background-position:-64px -480px;}
.crafting32x32.a471{background-position:-96px -480px;}
.crafting32x32.a472{background-position:-128px -480px;}
.crafting32x32.a473{background-position:-160px -480px;}
.crafting32x32.a474{background-position:-192px -480px;}
.crafting32x32.a475{background-position:-224px -480px;}
.crafting32x32.a476{background-position:-256px -480px;}
.crafting32x32.a477{background-position:-288px -480px;}
.crafting40x32.a478{background-position:-0px -0px;}
.crafting32x32.a479{background-position:-320px -480px;}
.crafting32x32.a480{background-position:-352px -480px;}
.crafting32x32.a481{background-position:-384px -480px;}
.crafting32x32.a482{background-position:-416px -480px;}
.crafting32x32.a483{background-position:-448px -480px;}
.crafting32x32.a484{background-position:-480px -480px;}
.crafting32x32.a485{background-position:-512px -480px;}
.crafting32x32.a486{background-position:-544px -480px;}
.crafting32x32.a487{background-position:-576px -480px;}
.crafting32x32.a488{background-position:-608px -480px;}
.crafting32x32.a489{background-position:-640px -480px;}
.crafting32x32.a490{background-position:-672px -480px;}
.crafting32x32.a491{background-position:-704px -480px;}
.crafting32x32.a492{background-position:-736px -480px;}
.crafting32x32.a493{background-position:-768px -480px;}
.crafting32x32.a494{background-position:-800px -480px;}
.crafting32x32.a495{background-position:-832px -480px;}
.crafting32x32.a496{background-position:-864px -480px;}
.crafting32x32.a497{background-position:-896px -480px;}
.crafting32x32.a498{background-position:-928px -480px;}
.crafting32x32.a499{background-position:-960px -480px;}
.crafting32x32.a500{background-position:-0px -512px;}
.crafting32x32.a501{background-position:-32px -512px;}
.crafting32x32.a502{background-position:-64px -512px;}
.crafting32x32.a503{background-position:-96px -512px;}
.crafting32x32.a504{background-position:-128px -512px;}
.crafting32x32.a505{background-position:-160px -512px;}
.crafting32x32.a506{background-position:-192px -512px;}
.crafting32x32.a507{background-position:-224px -512px;}
.crafting32x32.a508{background-position:-256px -512px;}
.crafting32x32.a509{background-position:-288px -512px;}
.crafting32x32.a510{background-position:-320px -512px;}
.crafting32x32.a511{background-position:-352px -512px;}
.crafting32x32.a512{background-position:-384px -512px;}
.crafting24x24.a513{background-position:-0px -0px;}
.crafting24x24.a514{background-position:-24px -0px;}
.crafting24x24.a515{background-position:-0px -24px;}
.crafting24x24.a516{background-position:-24px -24px;}
.crafting32x32.a517{background-position:-416px -512px;}
.crafting32x32.a518{background-position:-448px -512px;}
.crafting32x32.a519{background-position:-480px -512px;}
.crafting32x32.a520{background-position:-512px -512px;}
.crafting32x32.a521{background-position:-544px -512px;}
.crafting32x32.a522{background-position:-576px -512px;}
.crafting32x32.a523{background-position:-608px -512px;}
.crafting32x32.a524{background-position:-640px -512px;}
.crafting32x32.a525{background-position:-672px -512px;}
.crafting32x32.a526{background-position:-704px -512px;}
.crafting32x32.a527{background-position:-736px -512px;}
.crafting32x32.a528{background-position:-768px -512px;}
.crafting32x32.a529{background-position:-800px -512px;}
.crafting32x32.a530{background-position:-832px -512px;}
.crafting32x32.a531{background-position:-864px -512px;}
.crafting32x32.a532{background-position:-896px -512px;}
.crafting32x32.a533{background-position:-928px -512px;}
.crafting32x32.a534{background-position:-960px -512px;}
.crafting32x32.a535{background-position:-0px -544px;}
.crafting32x32.a536{background-position:-32px -544px;}
.crafting32x32.a537{background-position:-64px -544px;}
.crafting32x32.a538{background-position:-96px -544px;}
.crafting32x32.a539{background-position:-128px -544px;}
.crafting32x32.a540{background-position:-160px -544px;}
.crafting32x32.a541{background-position:-192px -544px;}
.crafting32x32.a542{background-position:-224px -544px;}
.crafting32x32.a543{background-position:-256px -544px;}
.crafting32x32.a544{background-position:-288px -544px;}
.crafting32x32.a545{background-position:-320px -544px;}
.crafting32x32.a546{background-position:-352px -544px;}
.crafting32x32.a547{background-position:-384px -544px;}
.crafting32x32.a548{background-position:-416px -544px;}
.crafting32x32.a549{background-position:-448px -544px;}
.crafting32x32.a550{background-position:-480px -544px;}
.crafting32x32.a551{background-position:-512px -544px;}
.crafting32x32.a552{background-position:-544px -544px;}
.crafting32x32.a553{background-position:-576px -544px;}
.crafting32x32.a554{background-position:-608px -544px;}
.crafting32x32.a555{background-position:-640px -544px;}
.crafting32x32.a556{background-position:-672px -544px;}
.crafting32x32.a557{background-position:-704px -544px;}
.crafting32x32.a558{background-position:-736px -544px;}
.crafting32x32.a559{background-position:-768px -544px;}
.crafting32x32.a560{background-position:-800px -544px;}
.crafting32x32.a561{background-position:-832px -544px;}
.crafting32x32.a562{background-position:-864px -544px;}
.crafting32x32.a563{background-position:-896px -544px;}
.crafting32x32.a564{background-position:-928px -544px;}
.crafting32x32.a565{background-position:-960px -544px;}
.crafting32x32.a566{background-position:-0px -576px;}
.crafting32x32.a567{background-position:-32px -576px;}
.crafting32x32.a568{background-position:-64px -576px;}
.crafting32x32.a569{background-position:-96px -576px;}
.crafting32x32.a570{background-position:-128px -576px;}
.crafting32x32.a571{background-position:-160px -576px;}
.crafting32x32.a572{background-position:-192px -576px;}
.crafting32x32.a573{background-position:-224px -576px;}
.crafting32x32.a574{background-position:-256px -576px;}
.crafting32x32.a575{background-position:-288px -576px;}
.crafting32x32.a576{background-position:-320px -576px;}
.crafting32x32.a577{background-position:-352px -576px;}
.crafting32x32.a578{background-position:-384px -576px;}
.crafting32x32.a579{background-position:-416px -576px;}
.crafting32x32.a580{background-position:-448px -576px;}
.crafting32x32.a581{background-position:-480px -576px;}
.crafting32x32.a582{background-position:-512px -576px;}
.crafting32x32.a583{background-position:-544px -576px;}
.crafting32x32.a584{background-position:-576px -576px;}
.crafting32x32.a585{background-position:-608px -576px;}
.crafting32x32.a586{background-position:-640px -576px;}
.crafting32x32.a587{background-position:-672px -576px;}
.crafting32x32.a588{background-position:-704px -576px;}
.crafting32x32.a589{background-position:-736px -576px;}
.crafting32x32.a590{background-position:-768px -576px;}
.crafting32x32.a591{background-position:-800px -576px;}
.crafting32x32.a592{background-position:-832px -576px;}
.crafting32x32.a593{background-position:-864px -576px;}
.crafting32x32.a594{background-position:-896px -576px;}
.crafting32x32.a595{background-position:-928px -576px;}
.crafting32x32.a596{background-position:-960px -576px;}
.crafting32x32.a597{background-position:-0px -608px;}
.crafting32x32.a598{background-position:-32px -608px;}
.crafting32x32.a599{background-position:-64px -608px;}
.crafting32x32.a600{background-position:-96px -608px;}
.crafting32x32.a601{background-position:-128px -608px;}
.crafting32x32.a602{background-position:-160px -608px;}
.crafting32x32.a603{background-position:-192px -608px;}
.crafting32x32.a604{background-position:-224px -608px;}
.crafting32x32.a605{background-position:-256px -608px;}
.crafting32x32.a606{background-position:-288px -608px;}
.crafting32x32.a607{background-position:-320px -608px;}
.crafting32x32.a608{background-position:-352px -608px;}
.crafting32x32.a609{background-position:-384px -608px;}
.crafting32x32.a610{background-position:-416px -608px;}
.crafting32x32.a611{background-position:-448px -608px;}
.crafting32x32.a612{background-position:-480px -608px;}
.crafting32x32.a613{background-position:-512px -608px;}
.crafting32x32.a614{background-position:-544px -608px;}
.crafting32x32.a615{background-position:-576px -608px;}
.crafting32x32.a616{background-position:-608px -608px;}
.crafting32x32.a617{background-position:-640px -608px;}
.crafting32x32.a618{background-position:-672px -608px;}
.crafting32x32.a619{background-position:-704px -608px;}
.crafting32x32.a620{background-position:-736px -608px;}
.crafting32x32.a621{background-position:-768px -608px;}
.crafting32x32.a622{background-position:-800px -608px;}
.crafting32x32.a623{background-position:-832px -608px;}
.crafting32x32.a624{background-position:-864px -608px;}
.crafting32x32.a625{background-position:-896px -608px;}
.crafting32x32.a626{background-position:-928px -608px;}
.crafting32x32.a627{background-position:-960px -608px;}
.crafting32x32.a628{background-position:-0px -640px;}
.crafting32x32.a629{background-position:-32px -640px;}
.crafting32x32.a630{background-position:-64px -640px;}
.crafting32x32.a631{background-position:-96px -640px;}
.crafting32x32.a632{background-position:-128px -640px;}
.crafting32x32.a633{background-position:-160px -640px;}
.crafting32x32.a634{background-position:-192px -640px;}
.crafting32x32.a635{background-position:-224px -640px;}
.crafting32x32.a636{background-position:-256px -640px;}
.crafting32x32.a637{background-position:-288px -640px;}
.crafting32x32.a638{background-position:-320px -640px;}
.crafting32x32.a639{background-position:-352px -640px;}
.crafting32x32.a640{background-position:-384px -640px;}
.crafting32x32.a641{background-position:-416px -640px;}
.crafting32x32.a642{background-position:-448px -640px;}
.crafting32x32.a643{background-position:-480px -640px;}
.crafting32x32.a644{background-position:-512px -640px;}
.crafting32x32.a645{background-position:-544px -640px;}
.crafting32x32.a646{background-position:-576px -640px;}
.crafting32x32.a647{background-position:-608px -640px;}
.crafting32x32.a648{background-position:-640px -640px;}
.crafting32x32.a649{background-position:-672px -640px;}
.crafting32x32.a650{background-position:-704px -640px;}
.crafting32x32.a651{background-position:-736px -640px;}
.crafting32x32.a652{background-position:-768px -640px;}
.crafting32x32.a653{background-position:-800px -640px;}
.crafting32x32.a654{background-position:-832px -640px;}
.crafting32x32.a655{background-position:-864px -640px;}
.crafting32x32.a656{background-position:-896px -640px;}
.crafting32x32.a657{background-position:-928px -640px;}
.crafting32x32.a658{background-position:-960px -640px;}
.crafting32x32.a659{background-position:-0px -672px;}
.crafting32x32.a660{background-position:-32px -672px;}
.crafting32x32.a661{background-position:-64px -672px;}
.crafting32x32.a662{background-position:-96px -672px;}
.crafting32x32.a663{background-position:-128px -672px;}
.crafting32x32.a664{background-position:-160px -672px;}
.crafting32x32.a665{background-position:-192px -672px;}
.crafting32x32.a666{background-position:-224px -672px;}
.crafting32x32.a667{background-position:-256px -672px;}
.crafting32x32.a668{background-position:-288px -672px;}
.crafting32x32.a669{background-position:-320px -672px;}
.crafting32x32.a670{background-position:-352px -672px;}
.crafting32x32.a671{background-position:-384px -672px;}
.crafting32x32.a672{background-position:-416px -672px;}
.crafting32x32.a673{background-position:-448px -672px;}
.crafting32x32.a674{background-position:-480px -672px;}
.crafting32x32.a675{background-position:-512px -672px;}
.crafting32x32.a676{background-position:-544px -672px;}
.crafting32x32.a677{background-position:-576px -672px;}
.crafting32x32.a678{background-position:-608px -672px;}
.crafting32x32.a679{background-position:-640px -672px;}
.crafting32x32.a680{background-position:-672px -672px;}
.crafting32x32.a681{background-position:-704px -672px;}
.crafting32x32.a682{background-position:-736px -672px;}
.crafting32x32.a683{background-position:-768px -672px;}
.crafting32x32.a684{background-position:-800px -672px;}
.crafting32x32.a685{background-position:-832px -672px;}
.crafting32x32.a686{background-position:-864px -672px;}
.crafting32x32.a687{background-position:-896px -672px;}
.crafting32x32.a688{background-position:-928px -672px;}
.crafting32x32.a689{background-position:-960px -672px;}
.crafting32x32.a690{background-position:-0px -704px;}
.crafting32x32.a691{background-position:-32px -704px;}
.crafting32x32.a692{background-position:-64px -704px;}
.crafting32x32.a693{background-position:-96px -704px;}
.crafting32x32.a694{background-position:-128px -704px;}
.crafting32x32.a695{background-position:-160px -704px;}
.crafting32x32.a696{background-position:-192px -704px;}
.crafting32x32.a697{background-position:-224px -704px;}
.crafting32x32.a698{background-position:-256px -704px;}
.crafting32x32.a699{background-position:-288px -704px;}
.crafting32x32.a700{background-position:-320px -704px;}
.crafting32x32.a701{background-position:-352px -704px;}
.crafting32x32.a702{background-position:-384px -704px;}
.crafting32x32.a703{background-position:-416px -704px;}
.crafting32x32.a704{background-position:-448px -704px;}
.crafting32x32.a705{background-position:-480px -704px;}
.crafting32x32.a706{background-position:-512px -704px;}
.crafting32x32.a707{background-position:-544px -704px;}
.crafting32x32.a708{background-position:-576px -704px;}
.crafting32x32.a709{background-position:-608px -704px;}
.crafting32x32.a710{background-position:-640px -704px;}
.crafting32x32.a711{background-position:-672px -704px;}
.crafting32x32.a712{background-position:-704px -704px;}
.crafting32x32.a713{background-position:-736px -704px;}
.crafting32x32.a714{background-position:-768px -704px;}
.crafting32x32.a715{background-position:-800px -704px;}
.crafting32x32.a716{background-position:-832px -704px;}
.crafting32x32.a717{background-position:-864px -704px;}
.crafting32x32.a718{background-position:-896px -704px;}
.crafting32x32.a719{background-position:-928px -704px;}
.crafting32x32.a720{background-position:-960px -704px;}
.crafting32x32.a721{background-position:-0px -736px;}
.crafting32x32.a722{background-position:-32px -736px;}
.crafting32x32.a723{background-position:-64px -736px;}
.crafting32x32.a724{background-position:-96px -736px;}
.crafting32x32.a725{background-position:-128px -736px;}
.crafting32x32.a726{background-position:-160px -736px;}
.crafting32x32.a727{background-position:-192px -736px;}
.crafting32x32.a728{background-position:-224px -736px;}
.crafting32x32.a729{background-position:-256px -736px;}
.crafting32x32.a730{background-position:-288px -736px;}
.crafting32x32.a731{background-position:-320px -736px;}
.crafting32x32.a732{background-position:-352px -736px;}
.crafting32x32.a733{background-position:-384px -736px;}
.crafting32x32.a734{background-position:-416px -736px;}
.crafting32x32.a735{background-position:-448px -736px;}
.crafting32x32.a736{background-position:-480px -736px;}
.crafting32x32.a737{background-position:-512px -736px;}
.crafting32x32.a738{background-position:-544px -736px;}
.crafting32x32.a739{background-position:-576px -736px;}
.crafting32x32.a740{background-position:-608px -736px;}
.crafting32x32.a741{background-position:-640px -736px;}
.crafting32x32.a742{background-position:-672px -736px;}
.crafting32x32.a743{background-position:-704px -736px;}
.crafting32x32.a744{background-position:-736px -736px;}
.crafting32x32.a745{background-position:-768px -736px;}
.crafting32x32.a746{background-position:-800px -736px;}
.crafting32x32.a747{background-position:-832px -736px;}
.crafting32x32.a748{background-position:-864px -736px;}
.crafting32x32.a749{background-position:-896px -736px;}
.crafting32x32.a750{background-position:-928px -736px;}
.crafting32x32.a751{background-position:-960px -736px;}
.crafting32x32.a752{background-position:-0px -768px;}
.crafting32x32.a753{background-position:-32px -768px;}
.crafting32x32.a754{background-position:-64px -768px;}
.crafting32x32.a755{background-position:-96px -768px;}
.crafting32x32.a756{background-position:-128px -768px;}
.crafting32x32.a757{background-position:-160px -768px;}
.crafting32x32.a758{background-position:-192px -768px;}
.crafting32x32.a759{background-position:-224px -768px;}
.crafting32x32.a760{background-position:-256px -768px;}
.crafting32x32.a761{background-position:-288px -768px;}
.crafting32x32.a762{background-position:-320px -768px;}
.crafting32x32.a763{background-position:-352px -768px;}
.crafting32x32.a764{background-position:-384px -768px;}
.crafting32x32.a765{background-position:-416px -768px;}
.crafting32x32.a766{background-position:-448px -768px;}
.crafting32x32.a767{background-position:-480px -768px;}
.crafting32x32.a768{background-position:-512px -768px;}
.crafting32x32.a769{background-position:-544px -768px;}
.crafting32x32.a770{background-position:-576px -768px;}
.crafting32x32.a771{background-position:-608px -768px;}
.crafting32x32.a772{background-position:-640px -768px;}
.crafting32x32.a773{background-position:-672px -768px;}
.crafting32x32.a774{background-position:-704px -768px;}
.crafting32x32.a775{background-position:-736px -768px;}
.crafting32x32.a776{background-position:-768px -768px;}
.crafting32x32.a777{background-position:-800px -768px;}
.crafting32x32.a778{background-position:-832px -768px;}
.crafting32x32.a779{background-position:-864px -768px;}
.crafting32x32.a780{background-position:-896px -768px;}
.crafting32x32.a781{background-position:-928px -768px;}
.crafting32x32.a782{background-position:-960px -768px;}
.crafting32x32.a783{background-position:-0px -800px;}
.crafting32x32.a784{background-position:-32px -800px;}
.crafting32x32.a785{background-position:-64px -800px;}
.crafting32x32.a786{background-position:-96px -800px;}
.crafting32x32.a787{background-position:-128px -800px;}
.crafting32x32.a788{background-position:-160px -800px;}
.crafting32x32.a789{background-position:-192px -800px;}
.crafting32x32.a790{background-position:-224px -800px;}
.crafting32x32.a791{background-position:-256px -800px;}
.crafting32x32.a792{background-position:-288px -800px;}
.crafting32x32.a793{background-position:-320px -800px;}
.crafting32x32.a794{background-position:-352px -800px;}
.crafting32x32.a795{background-position:-384px -800px;}
.crafting32x32.a796{background-position:-416px -800px;}
.crafting32x32.a797{background-position:-448px -800px;}
.crafting32x32.a798{background-position:-480px -800px;}
.crafting32x32.a799{background-position:-512px -800px;}
.crafting32x32.a800{background-position:-544px -800px;}
.crafting32x32.a801{background-position:-576px -800px;}
.crafting32x32.a802{background-position:-608px -800px;}
.crafting32x32.a803{background-position:-640px -800px;}
.crafting32x32.a804{background-position:-672px -800px;}
.crafting32x32.a805{background-position:-704px -800px;}
.crafting32x32.a806{background-position:-736px -800px;}
.crafting32x32.a807{background-position:-768px -800px;}
.crafting32x32.a808{background-position:-800px -800px;}
.crafting32x32.a809{background-position:-832px -800px;}
.crafting32x32.a810{background-position:-864px -800px;}
.crafting32x32.a811{background-position:-896px -800px;}
.crafting32x32.a812{background-position:-928px -800px;}
.crafting32x32.a813{background-position:-960px -800px;}
.crafting32x32.a814{background-position:-0px -832px;}
.crafting32x32.a815{background-position:-32px -832px;}
.crafting32x32.a816{background-position:-64px -832px;}
.crafting32x32.a817{background-position:-96px -832px;}
.crafting32x32.a818{background-position:-128px -832px;}
.crafting32x32.a819{background-position:-160px -832px;}
.crafting32x32.a820{background-position:-192px -832px;}
.crafting32x32.a821{background-position:-224px -832px;}
.crafting32x32.a822{background-position:-256px -832px;}
.crafting32x32.a823{background-position:-288px -832px;}
.crafting32x32.a824{background-position:-320px -832px;}
.crafting32x32.a825{background-position:-352px -832px;}
.crafting32x32.a826{background-position:-384px -832px;}
.crafting32x32.a827{background-position:-416px -832px;}
.crafting32x32.a828{background-position:-448px -832px;}
.crafting32x32.a829{background-position:-480px -832px;}
.crafting32x32.a830{background-position:-512px -832px;}
.crafting32x32.a831{background-position:-544px -832px;}
.crafting32x32.a832{background-position:-576px -832px;}
.crafting32x32.a833{background-position:-608px -832px;}
.crafting32x32.a834{background-position:-640px -832px;}
.crafting32x32.a835{background-position:-672px -832px;}
.crafting32x32.a836{background-position:-704px -832px;}
.crafting32x32.a837{background-position:-736px -832px;}
.crafting32x32.a838{background-position:-768px -832px;}
.crafting32x32.a839{background-position:-800px -832px;}
.crafting32x32.a840{background-position:-832px -832px;}
.crafting32x32.a841{background-position:-864px -832px;}
.crafting32x32.a842{background-position:-896px -832px;}
.crafting32x32.a843{background-position:-928px -832px;}
.crafting32x32.a844{background-position:-960px -832px;}
.crafting32x32.a845{background-position:-0px -864px;}
.crafting32x32.a846{background-position:-32px -864px;}
.crafting32x32.a847{background-position:-64px -864px;}
.crafting32x32.a848{background-position:-96px -864px;}
.crafting32x32.a849{background-position:-128px -864px;}
.crafting32x32.a850{background-position:-160px -864px;}
.crafting32x32.a851{background-position:-192px -864px;}
.crafting32x32.a852{background-position:-224px -864px;}
.crafting32x32.a853{background-position:-256px -864px;}
.crafting32x32.a854{background-position:-288px -864px;}
.crafting32x32.a855{background-position:-320px -864px;}
.crafting32x32.a856{background-position:-352px -864px;}
.crafting32x32.a857{background-position:-384px -864px;}
.crafting32x32.a858{background-position:-416px -864px;}
.crafting32x32.a859{background-position:-448px -864px;}
.crafting32x32.a860{background-position:-480px -864px;}
.crafting32x32.a861{background-position:-512px -864px;}
.crafting32x32.a862{background-position:-544px -864px;}
.crafting32x32.a863{background-position:-576px -864px;}
.crafting32x32.a864{background-position:-608px -864px;}
.crafting32x32.a865{background-position:-640px -864px;}
.crafting32x32.a866{background-position:-672px -864px;}
.crafting32x32.a867{background-position:-704px -864px;}
.crafting32x32.a868{background-position:-736px -864px;}
.crafting32x32.a869{background-position:-768px -864px;}
.crafting32x32.a870{background-position:-800px -864px;}
.crafting32x32.a871{background-position:-832px -864px;}
.crafting32x32.a872{background-position:-864px -864px;}
.crafting32x32.a873{background-position:-896px -864px;}
.crafting32x32.a874{background-position:-928px -864px;}
.crafting32x32.a875{background-position:-960px -864px;}
.crafting32x32.a876{background-position:-0px -896px;}
.crafting32x32.a877{background-position:-32px -896px;}
.crafting32x32.a878{background-position:-64px -896px;}
.crafting32x32.a879{background-position:-96px -896px;}
.crafting32x32.a880{background-position:-128px -896px;}
.crafting32x32.a881{background-position:-160px -896px;}
.crafting32x32.a882{background-position:-192px -896px;}
.crafting32x32.a883{background-position:-224px -896px;}
.crafting32x32.a884{background-position:-256px -896px;}
.crafting32x32.a885{background-position:-288px -896px;}
.crafting32x32.a886{background-position:-320px -896px;}
.crafting32x32.a887{background-position:-352px -896px;}
.crafting32x32.a888{background-position:-384px -896px;}
.crafting32x32.crowbar{background-position:-416px -896px;}
.crafting32x32.multitool{background-position:-448px -896px;}
.crafting32x32.screwdriver{background-position:-480px -896px;}
.crafting32x32.wirecutter{background-position:-512px -896px;}
.crafting32x32.wrench{background-position:-544px -896px;}
.crafting32x32.welder{background-position:-576px -896px;}
.crafting32x32.analyzer{background-position:-608px -896px;}
.crafting32x32.mining{background-position:-640px -896px;}
.crafting32x32.shovel{background-position:-672px -896px;}
.crafting32x32.retractor{background-position:-704px -896px;}
.crafting32x32.hemostat{background-position:-736px -896px;}
.crafting32x32.cautery{background-position:-768px -896px;}
.crafting32x32.drill{background-position:-800px -896px;}
.crafting32x32.scalpel{background-position:-832px -896px;}
.crafting32x32.saw{background-position:-864px -896px;}
.crafting32x32.bonesetter{background-position:-896px -896px;}
.crafting32x32.knife{background-position:-928px -896px;}
.crafting32x32.bloodfilter{background-position:-960px -896px;}
.crafting32x32.rollingpin{background-position:-0px -928px;}
.crafting32x32.rustscraper{background-position:-32px -928px;}