.chemmaster32x32{display:inline-block;width:32px;height:32px;background:url('asset.eb8c4b2c4f8a03427ef4a2cbaab5dcf2.png') no-repeat;}
.chemmaster32x32.objitemreagentcontainerscupbottle{background-position:-0px -0px;}
.chemmaster32x32.objitemreagentcontainerscondimentflour{background-position:-32px -0px;}
.chemmaster32x32.objitemreagentcontainerscondimentsugar{background-position:-64px -0px;}
.chemmaster32x32.objitemreagentcontainerscondimentrice{background-position:-96px -0px;}
.chemmaster32x32.objitemreagentcontainerscondimentcornmeal{background-position:-128px -0px;}
.chemmaster32x32.objitemreagentcontainerscondimentmilk{background-position:-160px -0px;}
.chemmaster32x32.objitemreagentcontainerscondimentsoymilk{background-position:-192px -0px;}
.chemmaster32x32.objitemreagentcontainerscondimentyoghurt{background-position:-224px -0px;}
.chemmaster32x32.objitemreagentcontainerscondimentsaltshaker{background-position:-256px -0px;}
.chemmaster32x32.objitemreagentcontainerscondimentpeppermill{background-position:-0px -32px;}
.chemmaster32x32.objitemreagentcontainerscondimentsoysauce{background-position:-32px -32px;}
.chemmaster32x32.objitemreagentcontainerscondimentbbqsauce{background-position:-64px -32px;}
.chemmaster32x32.objitemreagentcontainerscondimentenzyme{background-position:-96px -32px;}
.chemmaster32x32.objitemreagentcontainerscondimenthotsauce{background-position:-128px -32px;}
.chemmaster32x32.objitemreagentcontainerscondimentcoldsauce{background-position:-160px -32px;}
.chemmaster32x32.objitemreagentcontainerscondimentmayonnaise{background-position:-192px -32px;}
.chemmaster32x32.objitemreagentcontainerscondimentketchup{background-position:-224px -32px;}
.chemmaster32x32.objitemreagentcontainerscondimentqualityoil{background-position:-256px -32px;}
.chemmaster32x32.objitemreagentcontainerscondimentcookingoil{background-position:-0px -64px;}
.chemmaster32x32.objitemreagentcontainerscondimentpeanutbutter{background-position:-32px -64px;}
.chemmaster32x32.objitemreagentcontainerscondimentcherryjelly{background-position:-64px -64px;}
.chemmaster32x32.objitemreagentcontainerscondimenthoney{background-position:-96px -64px;}
.chemmaster32x32.objitemreagentcontainerscondimentpack{background-position:-128px -64px;}
.chemmaster32x32.objitemreagentcontainerscuptube{background-position:-160px -64px;}
.chemmaster32x32.objitemreagentcontainerspillstyle{background-position:-192px -64px;}
.chemmaster32x32.objitemreagentcontainerspillstylepurplered{background-position:-224px -64px;}
.chemmaster32x32.objitemreagentcontainerspillstylegreenwhite{background-position:-256px -64px;}
.chemmaster32x32.objitemreagentcontainerspillstyleteal{background-position:-0px -96px;}
.chemmaster32x32.objitemreagentcontainerspillstylered{background-position:-32px -96px;}
.chemmaster32x32.objitemreagentcontainerspillstyleredwhite{background-position:-64px -96px;}
.chemmaster32x32.objitemreagentcontainerspillstyletealbrown{background-position:-96px -96px;}
.chemmaster32x32.objitemreagentcontainerspillstyleyellowflat{background-position:-128px -96px;}
.chemmaster32x32.objitemreagentcontainerspillstyletealflat{background-position:-160px -96px;}
.chemmaster32x32.objitemreagentcontainerspillstylewhiteflat{background-position:-192px -96px;}
.chemmaster32x32.objitemreagentcontainerspillstylepurpleflat{background-position:-224px -96px;}
.chemmaster32x32.objitemreagentcontainerspillstylelimelat{background-position:-256px -96px;}
.chemmaster32x32.objitemreagentcontainerspillstyleredflat{background-position:-0px -128px;}
.chemmaster32x32.objitemreagentcontainerspillstylegreenpurpleflat{background-position:-32px -128px;}
.chemmaster32x32.objitemreagentcontainerspillstyleyellowpurpleflat{background-position:-64px -128px;}
.chemmaster32x32.objitemreagentcontainerspillstyleredyellowflat{background-position:-96px -128px;}
.chemmaster32x32.objitemreagentcontainerspillstylebluetealflat{background-position:-128px -128px;}
.chemmaster32x32.objitemreagentcontainerspillstylegreenlimeflat{background-position:-160px -128px;}
.chemmaster32x32.objitemreagentcontainerspillstylewhite{background-position:-192px -128px;}
.chemmaster32x32.objitemreagentcontainerspillstylewhitered{background-position:-224px -128px;}
.chemmaster32x32.objitemreagentcontainerspillstylepurpleyellow{background-position:-256px -128px;}
.chemmaster32x32.objitemreagentcontainerspillstyleblackwhite{background-position:-0px -160px;}
.chemmaster32x32.objitemreagentcontainerspillstylelimewhite{background-position:-32px -160px;}
.chemmaster32x32.objitemreagentcontainerspillstylehappy{background-position:-64px -160px;}
.chemmaster32x32.objitemreagentcontainerspillpatchstyle{background-position:-96px -160px;}
.chemmaster32x32.objitemreagentcontainerspillpatchstylebrute{background-position:-128px -160px;}
.chemmaster32x32.objitemreagentcontainerspillpatchstyleburn{background-position:-160px -160px;}
.chemmaster32x32.objitemreagentcontainerspillpatchstylebruteburn{background-position:-192px -160px;}
.chemmaster32x32.objitemreagentcontainerspillpatchstyletoxin{background-position:-224px -160px;}
.chemmaster32x32.objitemreagentcontainerspillpatchstyleoxygen{background-position:-256px -160px;}
.chemmaster32x32.objitemreagentcontainerspillpatchstyleomni{background-position:-0px -192px;}
.chemmaster32x32.objitemreagentcontainerspillpatchstylebruteplus{background-position:-32px -192px;}
.chemmaster32x32.objitemreagentcontainerspillpatchstyleburnplus{background-position:-64px -192px;}
.chemmaster32x32.objitemreagentcontainerspillpatchstyletoxinplus{background-position:-96px -192px;}
.chemmaster32x32.objitemreagentcontainerspillpatchstyleoxygenplus{background-position:-128px -192px;}
.chemmaster32x32.objitemreagentcontainerspillpatchstylemonkey{background-position:-160px -192px;}
.chemmaster32x32.objitemreagentcontainerspillpatchstyleclown{background-position:-192px -192px;}
.chemmaster32x32.objitemreagentcontainerspillpatchstyleone{background-position:-224px -192px;}
.chemmaster32x32.objitemreagentcontainerspillpatchstyletwo{background-position:-256px -192px;}
.chemmaster32x32.objitemreagentcontainerspillpatchstylethree{background-position:-0px -224px;}
.chemmaster32x32.objitemreagentcontainerspillpatchstylefour{background-position:-32px -224px;}
.chemmaster32x32.objitemreagentcontainerspillpatchstyleexclamation{background-position:-64px -224px;}
.chemmaster32x32.objitemreagentcontainerspillpatchstylequestion{background-position:-96px -224px;}
.chemmaster32x32.objitemreagentcontainerspillpatchstylecolonthree{background-position:-128px -224px;}