.moods32x32{display:inline-block;width:32px;height:32px;background:url('asset.6d8090ccfc7f17c204d7cf23227102e1.png') no-repeat;}
.moods32x32.mood1{background-position:-0px -0px;}
.moods32x32.mood2{background-position:-32px -0px;}
.moods32x32.mood3{background-position:-64px -0px;}
.moods32x32.mood4{background-position:-0px -32px;}
.moods32x32.mood5{background-position:-32px -32px;}
.moods32x32.mood6{background-position:-64px -32px;}
.moods32x32.mood7{background-position:-0px -64px;}
.moods32x32.mood8{background-position:-32px -64px;}
.moods32x32.mood9{background-position:-64px -64px;}