.achievements76x76{display:inline-block;width:76px;height:76px;background:url('asset.f82f66245f0b77db615c993a369fb28c.png') no-repeat;}
.achievements76x76.default{background-position:-0px -0px;}
.achievements76x76.baseboss{background-position:-76px -0px;}
.achievements76x76.bbgum{background-position:-152px -0px;}
.achievements76x76.colossus{background-position:-228px -0px;}
.achievements76x76.drake{background-position:-304px -0px;}
.achievements76x76.firstboss{background-position:-380px -0px;}
.achievements76x76.frostminer{background-position:-456px -0px;}
.achievements76x76.goatboss{background-position:-532px -0px;}
.achievements76x76.hierophant{background-position:-608px -0px;}
.achievements76x76.legion{background-position:-0px -76px;}
.achievements76x76.miner{background-position:-76px -76px;}
.achievements76x76.swarmer{background-position:-152px -76px;}
.achievements76x76.tendril{background-position:-228px -76px;}
.achievements76x76.wendigo{background-position:-304px -76px;}
.achievements76x76.basemisc{background-position:-380px -76px;}
.achievements76x76.chem_tut{background-position:-456px -76px;}
.achievements76x76.service_bad{background-position:-532px -76px;}
.achievements76x76.service_okay{background-position:-608px -76px;}
.achievements76x76.service_good{background-position:-0px -152px;}
.achievements76x76.basemafia{background-position:-76px -152px;}
.achievements76x76.hated{background-position:-152px -152px;}
.achievements76x76.mafia{background-position:-228px -152px;}
.achievements76x76.neutral{background-position:-304px -152px;}
.achievements76x76.town{background-position:-380px -152px;}
.achievements76x76.ascension{background-position:-456px -152px;}
.achievements76x76.ashascend{background-position:-532px -152px;}
.achievements76x76.cayenne_disk{background-position:-608px -152px;}
.achievements76x76.clownking{background-position:-0px -228px;}
.achievements76x76.clownthanks{background-position:-76px -228px;}
.achievements76x76.cult_shuttle_omfg{background-position:-152px -228px;}
.achievements76x76.featofstrength{background-position:-228px -228px;}
.achievements76x76.fleshascend{background-position:-304px -228px;}
.achievements76x76.frenchingthebubble{background-position:-380px -228px;}
.achievements76x76.gottem{background-position:-456px -228px;}
.achievements76x76.helbital{background-position:-532px -228px;}
.achievements76x76.hotdamn{background-position:-608px -228px;}
.achievements76x76.jackpot{background-position:-0px -304px;}
.achievements76x76.longshift{background-position:-76px -304px;}
.achievements76x76.meteors{background-position:-152px -304px;}
.achievements76x76.rocket_holdup{background-position:-228px -304px;}
.achievements76x76.rule8{background-position:-304px -304px;}
.achievements76x76.rustascend{background-position:-380px -304px;}
.achievements76x76.snail{background-position:-456px -304px;}
.achievements76x76.timewaste{background-position:-532px -304px;}
.achievements76x76.toolbox_soul{background-position:-608px -304px;}
.achievements76x76.tram_surfer{background-position:-0px -380px;}
.achievements76x76.upgrade{background-position:-76px -380px;}
.achievements76x76.voidascend{background-position:-152px -380px;}
.achievements76x76.bait{background-position:-228px -380px;}
.achievements76x76.baseskill{background-position:-304px -380px;}
.achievements76x76.mining{background-position:-380px -380px;}
.achievements76x76.fishing_hat{background-position:-456px -380px;}
.achievements76x76.narsupreme{background-position:-532px -380px;}
.achievements76x76.springlock{background-position:-608px -380px;}
.achievements76x76.martyr{background-position:-0px -456px;}
.achievements76x76.bladeascend{background-position:-76px -456px;}
.achievements76x76.picofhealth{background-position:-152px -456px;}
.achievements76x76.cosmicascend{background-position:-228px -456px;}
.achievements76x76.archmage{background-position:-304px -456px;}
.achievements76x76.elephant{background-position:-380px -456px;}
.achievements76x76.outdebted{background-position:-456px -456px;}
.achievements76x76.theoreticallimits{background-position:-532px -456px;}
.achievements76x76.knockascend{background-position:-608px -456px;}
.achievements76x76.jared_leto{background-position:-0px -532px;}
.achievements76x76.moonascend{background-position:-76px -532px;}
.achievements76x76.bird_silent{background-position:-152px -532px;}
.achievements76x76.bird_loud{background-position:-228px -532px;}
.achievements76x76.godswrath{background-position:-304px -532px;}