.condiments32x32{display:inline-block;width:32px;height:32px;background:url('asset.a664f70262593e4db8f0efc04a68f5ba.png') no-repeat;}
.condiments32x32._{background-position:-0px -0px;}
.condiments32x32.flour{background-position:-32px -0px;}
.condiments32x32.rice{background-position:-64px -0px;}
.condiments32x32.sugar{background-position:-96px -0px;}
.condiments32x32.milk{background-position:-128px -0px;}
.condiments32x32.enzyme{background-position:-0px -32px;}
.condiments32x32.capsaicin{background-position:-32px -32px;}
.condiments32x32.frostoil{background-position:-64px -32px;}
.condiments32x32.bbqsauce{background-position:-96px -32px;}
.condiments32x32.soymilk{background-position:-128px -32px;}
.condiments32x32.soysauce{background-position:-0px -64px;}
.condiments32x32.ketchup{background-position:-32px -64px;}
.condiments32x32.mayonnaise{background-position:-64px -64px;}
.condiments32x32.oliveoil{background-position:-96px -64px;}
.condiments32x32.cooking_oil{background-position:-128px -64px;}
.condiments32x32.peanut_butter{background-position:-0px -96px;}
.condiments32x32.cherryjelly{background-position:-32px -96px;}
.condiments32x32.honey{background-position:-64px -96px;}
.condiments32x32.blackpepper{background-position:-96px -96px;}
.condiments32x32.sodiumchloride{background-position:-128px -96px;}